{% extends "layouts.base" %}
{% block title %}
    {{ trans('passwords.resetpw') }}
{% endblock %}
{% block contents %}
	{# Kept here as 'status' is used by Laravels handler and not used by us #}
    {% if session_has('status') %}
        <div class="alert alert--success">
            {{ session_get('status') }}
        </div>
    {% endif %}

    {{ form_open({'url': ['password/email'], 'method': 'post'}) }}
        <div class="page-content page-content--centered">

            <header>
                <h1>{{ trans('passwords.resetpw') }}</h1>
            </header>

            <section class="form">
                <div class="form__section">
                    <div class="form__row">
                        <h3>{{ form_label('email', trans('member.email')) }}</h3>
                        {{ form_text('email') }}
                    </div>
                </div>
            </section>

            <div class="form__submit">
                {{ form_button('<i class="fa fa-key"></i><span class="text">'~trans('general.reset')~'</span>', {'type': 'submit', 'class': 'button'}) }}
            </div>
        </div>
    {{ form_close() }}
{% endblock %}