{% extends "layouts.base" %}
{% block title %}
    {{ trans('passwords.resetpw') }}
{% endblock %}
{% block contents %}
    {% if errors.any %}
        <div class="alert alert-danger">
            <strong>Whoops!</strong> There were some problems with your input.<br><br>
            <ul>
                {% for error in errors.all %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="{{ url('password/reset') }}">
    <article class="centered-full-width">
        <input type="hidden" name="_token" value="{{ csrf_token() }}">
        <input type="hidden" name="token" value="{{ token }}">

        <header>
            <h1>{{ trans('passwords.resetpw') }}</h1>
        </header>

        <section class="form">
            <div class="form-section clearfix">
                <div class="form-row">
                    <h3><label for="email">{{ trans('member.email') }}</label></h3>
                    <input type="text" name="email" id="email" value="{{ input_old('email') }}" />
                </div>
                <div class="form-row">
                    <h3><label for="password">{{ trans('member.password') }}</label></h3>
                    <input type="password" name="password" id="password" />
                </div>
                <div class="form-row">
                    <h3><label for="password_confirmation">{{ trans('member.password') }}</label></h3>
                    <p class="description">{{ trans('member.password_confirm') }}</p>
                    <input type="password" name="password_confirmation" id="password_confirmation" />
                </div>
            </div>
        </section>

        <div class="form-submit">
            <button type="submit" class="button"><i class="fa fa-sign-in"></i><span class="text">{{ trans('passwords.resetpw') }}</span></button>
        </div>
    </article>
    </form>
{% endblock %}