{% extends "layouts.base" %}
{% block title %}
    {{ trans('post.likes_for_post', {'post_id': post.id, 'topic_title': post.topic.title}) }}
{% endblock %}
{% block head %}
    <meta name="description" content="TODO" />
    <link rel="canonical" href="{{ url_route("post.likes", [post.id]) }}" />
{% endblock %}
{% block contents %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="page-title">{{ trans('post.likes_for_post', {'post_id': post.id, 'topic_title': post.topic.title}) }}</h1>
        </header>
        <div class="page-controls">
            {{ likes.render|raw }}
            <div class="page-buttons">
                <a href="#" class="button"><i class="fa fa-plus"></i><span class="text">{{ trans('post.show_topic') }}</span></a>
            </div>
        </div>
        <section class="block post-likes">
            <ol class="likes">
                {% for like in likes %}
                    <li class="likes__like like" data-like-id="{{ like.id }}" data-post-id="{{ like.content_id }}">
                        {{ like.user.name }}
                        <span class="like__date">
                            {{ human_date(like.created_at) }}

                        </span>
                    </li>
                {% endfor %}
            </ol>
            {{ likes.render|raw }}
        </section>
    </div>
{% endblock %}
