{% extends "layouts.base" %}
{% block title %}
    {{ trans('moderation.control_panel_title') }}
{% endblock %}
{% block contents %}
    <nav class="section-menu">
        <ul class="sidebar-navigation">
            <li {{ active_tab('dashboard') }}><a href="{{ url_route('moderation.control_panel') }}" class="icon icon--fw fa-dashboard">{{ trans('moderation.dashboard_title') }}</a></li>
            <li {{ active_tab('queue') }}><a href="{{ url_route('moderation.control_panel.queue') }}" class="icon icon--fw fa-list-ul">{{ trans('moderation.queue_title') }}</a></li>
            <li {{ active_tab('reports') }}><a href="" class="icon icon--fw fa-flag">{{ trans('moderation.reports_title') }}</a></li>
            <li {{ active_tab('logs') }}><a href="{{ url_route('moderation.control_panel.logs') }}" class="icon icon--fw fa-list-alt">{{ trans('moderation.logs_title') }}</a></li>
        </ul>
    </nav>
    <div class="page-content page-content--menu">
        {% block inner_contents %}{% endblock %}
    </div>
{% endblock %}
