{% extends "moderation.base" %}
{% block inner_contents %}
    <header>
        <h1>{{ trans('moderation.queue_title') }}</h1>
    </header>

    {% if queued_topics is empty and queued_posts is empty %}
        <div class="alert alert--success">
            <i class="fa fa-check-circle"></i>
            <p>{{ trans('moderation.empty_queue') }}</p>
        </div>
    {% else %}
        {% if queued_topics is not empty %}
            <h2>{{ trans('topic.topics') }}</h2>

            <section class="block topic-list">
                <div class="topic-list__sort-topics">
                    <a href="{{ url_route("forums.show", {0: forum.slug, 1: forum.id, 'orderBy': 'title', 'orderDir': urlDirs.title}) }}" class="sort-column primary-column-one">
                        {{ trans('forum.topictitle') }}
                        {% if orderBy == 'title' %}
                            {% if orderDir == 'desc' %}
                                <i class="fa fa-caret-down"></i>
                            {% else %}
                                <i class="fa fa-caret-up"></i>
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
                <div class="topic-list__container">
                    {% for topic in queued_topics %}
                    <div class="topic{{ not topic.approved ? ' pending-approval' }}{{ topic.trashed ? ' soft-deleted' }}">
                        <div class="primary-column">
                            <h3 class="topic__title">
                                {{ topic.closed ? '<i class="fa fa-lock"></i>' }} <a href="{{ url_route("topics.show", {'slug': topic.slug, 'id': topic.id}) }}">{{ topic.title }}</a>
                            </h3>
                            <h4>{{ trans('topic.firstpost') }}</h4>
                            <p class="topic__post topic__post--first">
                                <span class="post__author"><a href="index.php?page=user">{{ topic.author.name }}</a></span>
                                {{ post_date_link(url_route('topics.last', {'slug': topic.slug, 'id': topic.id}), topic.created_at) }}
                            </p>
                        </div>
                        <div style="text-align: right;">
                            {{ render_moderation_button('approve', 'topic', topic.id) }}
                            {{ render_moderation_button('delete_topic', 'topic', topic.id) }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </section>
        {% endif %}

        {% if queued_posts is not empty %}
            <h2>{{ trans('topic.posts') }}</h2>

            {% for post in queued_posts %}
                <div class="post{{ not post.approved ? ' pending-approval' }}">
                    <div class="post__meta">
                        <a href="{{ url_route('user.profile', {'slug': post.author.name, 'id': post.author.id}) }}" class="avatar-profile-link" title="{{ trans('general.goToXProfile', {'name': post.author.name}) }}"><img src="{{ post.author.avatar }}" class="avatar" alt="{{ trans('general.XAvatar', {'name': post.author.name}) }}" /></a>
                        <h3 class="post__author">{{ render_profile_link(post.author) }}</h3>
                        {{ post_date_link(url_route('topics.showPost', {'slug': post.topic.slug, 'id': post.topic.id, 'postId': post.id}), post.created_at) }}
                        {% if post.trashed or (topic.trashed and loop.first) %}
                            <span class="post__status"><i class="fa fa-trash-o"></i> {{ trans('topic.softDeleted') }}</span>
                        {% endif %}
                        <a href="#" class="post__toggle"><i class="fa fa-minus postToggle"></i></a>
                    </div>
                    <div class="post__body">
                        <div class="quick-quote">
                            <span class="fast">{{ trans('topic.quoteSelectionNow') }}</span>
                            <span class="add">{{ trans('topic.quoteSelectionLater') }}</span>
                        </div>
                        <p>
                            {{  post.content_parsed|raw }} {# HTML is filtered by the parser, so show raw HTML. Only do this if you're 100% sure of your variables! #}
                        </p>
                    </div>
                    <div class="post__foot">
                        <ul class="post__controls">
                            <a href="{{ url_route('topics.showPost', {'slug': post.topic.slug, 'id': post.topic.id, 'postId': post.id}) }}" class="button button--secondary">View&nbsp;<i class="fa fa-external-link"></i></a>
                            {{ render_moderation_button('approve', 'post', post.id) }}
                            {{ render_moderation_button('delete_post', 'post', post.id) }}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}
