{% if breadcrumbs %}
    <div class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.last == false %}
                <a href="{{ breadcrumb.url }}" class="breadcrumb__link icon icon--after fa-angle-{{ langDir.right }}">{{ breadcrumb.title }}</a>
            {% else %}
            {# Hiding last breadcrumb item (duplicates page title) -- uncomment to show #}
            {# <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a> #}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}