{% if breadcrumbs %}
    <div class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            {% if breadcrumb.last == false %}
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
				<i class="fa fa-angle-{{ (trans('general.direction') == 'ltr')?'right':'left' }}"></i>
            {% else %}
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}