{% extends "layouts.base" %}
{% block title %}
	{{ trans('search.results') }}
{% endblock %}
{% block contents %}
<div class="page-content">
	<header>
		<h1>{{ trans('search.results') }}</h1>
	</header>
	<section class="forum topic-list">
		{{ results.render|raw }}
		<div class="sort-topics">
			<a href="{{ url_route("search.results", {0: search.id, 'orderBy': 'subject', 'orderDir': urlDirs.subject}) }}" class="sort-column primary-column-one">
				{{ trans('forum.topictitle') }}
				{% if orderBy == 'subject' %}
					{% if orderDir == 'desc' %}
						<i class="fa fa-caret-down"></i>
					{% else %}
						<i class="fa fa-caret-up"></i>
					{% endif %}
				{% endif %}
			</a>
			<a href="{{ url_route("search.results", {0: search.id, 'orderBy': 'postdate', 'orderDir': urlDirs.postdate}) }}" class="sort-column primary-column-two">
				{{ trans('forum.startdate') }}
				{% if orderBy == 'postdate' %}
					{% if orderDir == 'desc' %}
						<i class="fa fa-caret-down"></i>
					{% else %}
						<i class="fa fa-caret-up"></i>
					{% endif %}
				{% endif %}
			</a>
			<a href="{{ url_route("search.results", {0: search.id, 'orderBy': 'replies', 'orderDir': urlDirs.replies}) }}" class="sort-column replies-column">
				{{ trans('forum.replies') }}
				{% if orderBy == 'replies' %}
					{% if orderDir == 'desc' %}
						<i class="fa fa-caret-down"></i>
					{% else %}
						<i class="fa fa-caret-up"></i>
					{% endif %}
				{% endif %}
			</a>
			<a href="{{ url_route("search.results", {0: search.id, 'orderBy': 'author', 'orderDir': urlDirs.author}) }}" class="sort-column latest-column">
				{{ trans('forum.author') }}
				{% if orderBy == 'author' %}
					{% if orderDir == 'desc' %}
						<i class="fa fa-caret-down"></i>
					{% else %}
						<i class="fa fa-caret-up"></i>
					{% endif %}
				{% endif %}
			</a>
		</div>
		<div class="topics-container">
			{% for topic in results %}
				<div class="topic{{ topic.trashed ? ' soft-deleted' }}">
					<div class="primary-column">
						<h3 class="topic-title">
							<a href="{{ url_route("topics.show", [topic.slug, topic.id]) }}">{{ topic.title }}</a>
						</h3>
						<h4>First Post</h4>
						<p class="first-post">
							<span class="post-author"><a href="index.php?page=user">{{ topic.author.name }}</a></span>
							{{ post_date_link(url_route('topics.last', [topic.slug, topic.id]), topic.created_at) }}
						</p>
					</div>
					<div class="replies-column">
						<h4>{{ trans('topic.replies') }}</h4>
						{# It should be change later #}
						<p class="thread-replies caption" title="{{ trans_choice('topic.numreplies', topic.replies, {'count':topic.replies}) }} &middot; {{ trans_choice('topic.numviews', topic.views, {'count':topic.views}) }}">{{ topic.replies }}</p>
					</div>
					<div class="latest-column">
						<h4>{{ trans('topic.latest') }}</h4>
						<!-- it should be change later -->
						<a href="" class="avatar-profile-link" title="Go to {{ topic.lastPost.author.name }}'s profile"><img src="{{ topic.lastPost.author.avatar }}" alt="{{ topic.lastPost.author.name }}'s avatar" class="avatar" /></a>
						<p class="latest-post">
							<span class="post-author"><a href="">{{ topic.lastPost.author.name }}</a></span>
							{{ post_date_link(url_route('topics.last', [topic.slug, topic.id]), topic.lastPost.created_at) }}
						</p>
					</div>
				</div>
			{% else %}
				<div class="topic topic-list__error error error-no-results">{{ trans('topic.notfound') }}</div>
			{% endfor %}
		</div>
		{{ results.render|raw }}
	</section>
</div>
{% endblock %}