{% extends "layouts.admin" %}
{% block title %}{% endblock %}
{% block contents %}
    <h1>Edit Profile Field Options</h1>

    <div>
        <a href="{{ url_route('admin.settings.profile_fields') }}" class="button button--secondary"><i class="fa fa-chevron-left"></i> Back</a>
    </div>

    <table class="admin-table admin-table--bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.name }}</td>
                <td>
                    {{ form_open({'route': ['admin.settings.delete_profile_field_option'], 'method': 'post', 'style': 'display: inline;'}) }}
                    {{ form_hidden('profile_field_option_id', option.id) }}
                    <button type="submit" class="button button--secondary button--danger"><i class="fa fa-remove"></i> Delete</button>
                    {{ form_close() }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    <div style="margin-top: 20px">
        {{ form_open({'route': ['admin.settings.add_profile_field_option'], 'method': 'post'}) }}
        {{ form_hidden('profile_field_id', field.id) }}
        <section class="form">
            <div class="form__section">
                <div class="form__row">
                    <h3>{{ form_label('name', 'Name') }}</h3>
                    {{ form_text('name') }}
                </div>
                <div class="form__submit">
                    {{ form_button('Add', {'type': 'submit', 'class': 'button'}) }}
                </div>
            </div>
        </section>
        {{ form_close() }}
    </div>
{% endblock %}
