{% extends "layouts.base" %}
{% block contents %}
    <div class="page-content page-content--menu">
        <header class="page-header">
            <h1 class="page-title">{{ moderation.name|capitalize }}</h1>
        </header>

        {{ form_open({'route': ['moderate'], 'method': 'post'}) }}
        {{ form_hidden('moderation_name', moderation.key) }}
        {{ form_hidden('moderation_content', moderation_content) }}
        {{ form_hidden('moderation_source_type', moderation_source_type) }}
        {{ form_hidden('moderation_source_id', moderation_source_id) }}
        {% for id in moderation_ids %}
            {{ form_hidden('moderation_ids[]', id) }}
        {% endfor %}
        <section class="form">
            <div class="form__section">
                {% for field in moderation.fields %}
                <div class="form__row">
                    {{ form_render_field(field) }}
                </div>
                {% endfor %}
            </div>
        </section>
        <div class="form__submit">
            {{ form_button(moderation.name|capitalize, {'type': 'submit', 'class': 'button icon'~moderation.icon}) }}
        </div>
        {{ form_close() }}
    </div>
{% endblock %}
