{% extends "layouts.admin" %}
{% block title %}{% endblock %}
{% block contents %}
    <h1>{{ trans('admin::profile_fields.add_group') }}</h1>

    <div>
        <a href="{{ url_route('admin.users.profile_fields') }}" class="button button--secondary"><i class="fa fa-chevron-left"></i> {{ trans('admin::general.back') }}</a>
    </div>

    <div>
        {{ form_open({'route': ['admin.users.profile_fields.add_group', field.id], 'method': 'post'}) }}
        <section class="form">
            <div class="form__section">
                <div class="form__row">
                    <h3>{{ form_label('name', trans('admin::profile_fields.group_name_field')) }}</h3>
                    {{ form_text('name') }}
                </div>
                <div class="form__row">
                    <h3>{{ form_label('slug', trans('admin::profile_fields.group_slug_field')) }}</h3>
                    {{ form_text('slug') }}
                </div>
                <div class="form__row">
                    <h3>{{ form_label('description', trans('admin::profile_fields.group_description_field')) }}</h3>
                    {{ form_text('description') }}
                </div>
                <div class="form__submit">
                    {{ form_button(trans('admin::profile_fields.group_add'), {'type': 'submit', 'class': 'button'}) }}
                </div>
            </div>
        </section>
        {{ form_close() }}
    </div>
{% endblock %}
