{% extends "layouts.admin" %}
{% block title %}{% endblock %}
{% block contents %}
    <div class="admin-body__header">
        <h1 class="admin-body__header__title">{{ trans('admin::profile_fields.add_group') }}</h1>
    </div>
    <div class="admin-body__content">
        {{ form_open({'route': ['admin.users.profile_fields.add_group', field.id], 'method': 'post'}) }}
        <section class="form">
            <div class="form__section">
                <div class="form__row">
                    <h3 class="form__row__title">{{ form_label('name', trans('admin::profile_fields.group_name_field')) }}</h3>
                    {{ form_text('name') }}
                </div>
                <div class="form__row">
                    <h3 class="form__row__title">{{ form_label('slug', trans('admin::profile_fields.group_slug_field')) }}</h3>
                    {{ form_text('slug') }}
                </div>
                <div class="form__row">
                    <h3 class="form__row__title">{{ form_label('description', trans('admin::profile_fields.group_description_field')) }}</h3>
                    {{ form_text('description') }}
                </div>
            </div>
        </section>
        <div class="form__submit">
            {{ form_button(trans('admin::profile_fields.save_group'), {'type': 'submit', 'class': 'button icon fa-tags'}) }}
        </div>
        {{ form_close() }}
    </div>
{% endblock %}
