{% extends "layouts.admin" %}
{% block title %}{% endblock %}
{% block contents %}
    <div class="admin-body__header">
        <h1 class="admin-body__header__title">{{ trans('admin::profile_fields.edit_field_options') }}</h1>
    </div>
    <div class="admin-body__content">
        <table class="admin-table admin-table--bordered">
            <thead>
            <tr>
                <th>{{ trans('admin::profile_fields.options_name_field') }}</th>
                <th>{{ trans('admin::profile_fields.options_actions_field') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for option in options %}
                <tr>
                    <td>{{ option.name }}</td>
                    <td>
                        {{ form_open({'route': ['admin.users.profile_fields.delete_option'], 'method': 'post', 'style': 'display: inline;'}) }}
                        {{ form_hidden('profile_field_option_id', option.id) }}
                        <button type="submit" class="button button--secondary button--danger"><i class="fa fa-remove"></i> {{ trans('admin::general.delete') }}</button>
                        {{ form_close() }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ form_open({'route': ['admin.users.profile_fields.add_option'], 'method': 'post'}) }}
        {{ form_hidden('profile_field_id', field.id) }}
        <section class="form">
            <div class="form__section">
                <div class="form__row">
                    <h3 class="form__row__title">{{ form_label('name', trans('admin::profile_fields.options_name_field')) }}</h3>
                    {{ form_text('name') }}
                </div>
            </div>
        </section>
        <div class="form__submit">
            {{ form_button(trans('admin::profile_fields.add_option'), {'type': 'submit', 'class': 'button icon fa-tag'}) }}
        </div>
        {{ form_close() }}
    </div>
{% endblock %}
