{% extends "layouts.base" %}
{% block title %}
	{{ trans('member.members') }}
{% endblock %}
{% block contents %}
<article class="full-width">
	<header>
		<h1>{{ trans('member.members') }}</h1>
	</header>
	<section>
		<div class="user-list clearfix">
			{% for user in users %}
				<div class="user">
					<a href="index.php?page=profile" class="avatar-profile-link"><img src="{{ user.avatar }}" class="avatar" /></a>
					<h3 class="username"><a href="index.php?page=profile">{{ user.styled_name|raw }}</a></h3>
					<h4 class="usertitle">{{ user.usertitle?:user.role.role_display_name }}</h4>
					<span class="team-badge"><span class="text">{{ user.role.role_display_name }}</span></span>
					<dl class="user-statistics stats">
						<dt>{{ trans('member.posts') }}</dt>
						<dd>{{ user.num_posts }}</dd>
						<dt>{{ trans('member.topics') }}</dt>
						<dd>{{ user.num_topics }}</dd>
						<dt>{{ trans('member.joinDate') }}</dt>
						<dd>{{ user.created_at }}</dd>
						<dt>{{ trans('member.lastVisit') }}</dt>
						<dd>{{ user.last_visit }}</dd>
					</dl>
				</div>
			{% endfor %}
		</div>
	</section>
	{{ users.render|raw }}
</article>
{% endblock %}