{% extends "layouts.base" %}
{% block title %}
    {{ trans('member.signup') }}
{% endblock %}
{% block contents %}
    <form role="form" method="POST" action="{{ url('/register') }}">
    {{ csrf_field() }}
    <div class="page-content page-content--centered">
        <header class="page-header">
            <h1 class="page-title">{{ trans('member.signup') }}</h1>
        </header>
        <section class="form">
            <div class="form__section">
                <div class="form__row">
                    <h3 class="form__row__title"><label for="name">{{ trans('member.username') }}</label></h3>
                    <input type="text" name="name" id="name" value="{{ old('name') }}" required autofocus>
                </div>
                <div class="form__row">
                    <h3 class="form__row__title"><label for="email">{{ trans('member.email') }}</label></h3>
                    <input type="text" name="email" id="email" value="{{ old('email') }}" required>
                </div>
                <div class="form__row">
                    <h3 class="form__row__title"><label for="password">{{ trans('member.password') }}</label></h3>
                    <input type="password" name="password" id="password" class="password-toggle" required>
                </div>
                <div class="form__row">
                    <h3 class="form__row__title"><label for="password_confirmation">{{ trans('member.password') }}</label></h3>
                    <p class="form__row__description">{{ trans('member.password_confirm') }}</p>
                    <input type="password" name="password_confirmation" id="password_confirmation" class="password-toggle" required>
                </div>
                <div class="form__row">
                    {{ captcha() }}
                </div>
            </div>
        </section>
        <input type="hidden" name="url" value="{{ input_get('url') }}">
        <div class="form__submit">
            <button type="submit" class="button icon fa-user">
                {{ trans('member.signup') }}
            </button>
        </div>
    </div>
    </form>
{% endblock %}
