{% extends "layouts.base" %}
{% block title %}
	{{ user.name }}
{% endblock %}
{% block contents %}
	<div class="profile">
		<header class="profile__header">
			<img src="{{ user.avatar }}" class="avatar">
			<h1 class="profile__username">{{ user.styled_name|raw }}</h1>
			<p class="profile__usertitle">{{ user.usertitle }}</p>
			<span class="team-badge"><span class="text">{{ user.role.role_display_name }}</span></span>
			<div class="page-buttons">
				<a href="{{ url_route('account.index') }}" class="button"><i class="fa fa-comments"></i><span class="text">Message</span></a>
				<a href="{{ url_route('account.index') }}" class="button"><i class="fa fa-plus"></i><span class="text">Follow</span></a>
			</div>
		</header>

		<div class="page-content page-content--sidebar">
			{% for group in profile_field_groups %}
				<section class="profile__field-group">
					<h2 class="heading heading--major">{{ group.name }}</h2>
					{% for field in group.fields %}
						{% if field.has_value %}
							<div class="profile__field">
								<h3>{{ field.name }}</h3>
								<p>{{ field.value }}</p>
							</div>
						{% endif %}
					{% endfor %}
				</section>
			{% endfor %}
		</div>

		<aside>
			<section>
				<dl class="stats">
					<dt class="stats__posts">{{ trans('topic.posts') }}</dt>
					<dd class="stats__posts">{{ user.num_posts }}</dd>
					<dt class="stats__topics">{{ trans('topic.topics') }}</dt>
					<dd class="stats__topics">{{ user.num_topics }}</dd>
					<dt class="stats__join-date">{{ trans('member.joinDate') }}</dt>
					<dd class="stats__join-date">{{ generate_time(user.created_at) }}</dd>
				</dl>
			</section>
		</aside>
	</div>
{% endblock %}
