<div class="page-content page-content--sidebar">
	<section>
		<h2 class="heading heading--major">{{ trans('member.profile.recentActivity') }}</h2>
	</section>
</div>

<aside>
	<section>
		<dl class="stats">
			<dt class="stats__posts">{{ trans('topic.posts') }}</dt>
			<dd class="stats__posts">{{ user.num_posts }}</dd>
			<dt class="stats__topics">{{ trans('topic.topics') }}</dt>
			<dd class="stats__topics">{{ user.num_topics }}</dd>
			<dt class="stats__join-date">{{ trans('member.joinDate') }}</dt>
			<dd class="stats__join-date">{{ generate_time(user.created_at) }}</dd>
		</dl>
	</section>

	{% for group in profile_field_groups %}
		<section class="profile__field-group">
			<h2 class="heading">{{ group.name }}</h2>
			{% for field in group.fields %}
				{% if field.has_value %}
					<div class="profile__field">
						<h3>{{ field.name }}</h3>
						<p>{{ field.value }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</section>
	{% endfor %}
</aside>