{% extends "layouts.admin" %}
{% block title %}{{ trans('admin::users.delete_title') }}{% endblock %}
{% block contents %}
    <div class="admin-body__header">
        <h1 class="admin-body__header__title">{{ trans('admin::users.delete_title') }}</h1>
    </div>
    <div class="admin-body__content">
        <p>Are you sure you want to delete the user "{{ user.name }}"?</p>
        {{ form_open({'route': ['admin.users.delete'], 'method': 'post'}) }}
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <a href="{{ url_route('admin.users') }}" class="button button--secondary"><i class="fa fa-arrow-left"></i> {{ trans('admin::general.back') }}</a>
        <button type="submit" class="button button--danger"><i class="fa fa-remove"></i> {{ trans('admin::users.delete') }}</button>
        {{ form_close() }}
    </div>
{% endblock %}
