<section class="block widget widget--forum_list">
    <h3 class="block__heading block__heading--linked"><a href="{{ url_route('forums.all') }}" class="block__heading--linked__link">{{ trans('forum.allforums') }}</a></h3>

    <div class="forum-list forum-list--compact">
        {% for category in forums %}
            <div class="forum-list--compact__category">
                <h4 class="forum-list--compact__category__title"><a href="{{ url_route("forums.show", {'slug': category.slug, 'id': category.id}) }}">{{ category.title }}</a></h4>
                <ul class="forum-list--compact__category__forums">
                    {% for forum in category.children %}
                        <li class="forum-list--compact__category__forum"><a href="{{ url_route("forums.show", {'slug': forum.slug, 'id': forum.id}) }}">{{ forum.title }}</a></li>
                    {% else %}
                        {#Do nothing, no subforums for this category#}
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {{ trans('forum.notfound') }}
        {% endfor %}
    </div>
</section>
