{% extends "layouts.base" %}
{% block title %}
	{{ trans('forum.allforums') }}
{% endblock %}
{% block contents %}
<article class="full-width">
    <header>
        <h1>{{ trans('forum.allforums') }}</h1>
    </header>
    {% for category in forums %}
		<section>
			<h2 class="bold">{{ category.title }}</h2>
			 <div class="forum-list topic-list">
				{% for forum in category.children.toTree %}
					<div class="forum">
						<div class="forum-info">
							<h3 class="forum-title"><a href="{{ url_route("forums.show", [forum.slug]) }}">{{ forum.title }}</a></h3>
							<p class="description">{{ forum.description }}</p>
							{% if forum.children.toTree %}
								<ul class="subforums">
									<i class="fa fa-level-up"></i>
									{% for subforum in forum.children.toTree %}
										<li><a href="{{ url_route("forums.show", [subforum.slug]) }}" class="subforum-title">{{ subforum.title }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</div>
						<div class="topic compact">
							<a href="" class="avatar-profile-link" title="Go to Nemo Hoes's profile"><img src="{{ asset('images/avatar.png') }}" class="avatar" /></a>
							<h4 class="topic-title"><a href="{{ url_route("topics.show", [forum.lastPost.topic.slug]) }}">{{ forum.lastPost.topic.title }}</a></h4>
							<p class="latest-post"><a href="{{ url_route("topics.last", [forum.lastPost.topic.slug]) }}" class="post-date" title="March 8, 2014 at 12:07 PM">{{ forum.lastPost.created_at }}</a> {{ trans('general.by') }} <a href="" class="post-author">{{ forum.lastPostAuthor.name }}</a></p>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endfor %}
</article>
{% endblock %}