{% extends "layouts.base" %}
{% block title %}{% endblock %}
{% block contents %}
<div class="page-content page-content--sidebar">
    <header class="page-header">
        <h1 class="page-title">{{ setting('general.board_name', 'MyBB Community Forums') }}</h1>
        <p class="page-description">{{ setting('general.board_desc', '') }}</p>
    </header>
    <section class="block">
        <h2 class="block__heading block__heading--linked block__heading--major"><a href="index.php?page=new-posts" class="block__heading--linked__link">Latest Discussions <span class="count icon icon--after fa-angle-{{ langDir.right }}">42</span></a></h2>
        <div class="topic-list topic-list--compact">
            {% for topic in topics %}
                <div class="topic">
                    <a href="{{ url_route('user.profile', {'slug': topic.lastPost.author.name, 'id': topic.lastPost.author.id}) }}" data-user-id="{{ topic.lastPost.author.id }}" class="avatar-profile-link" title="Go to {{ topic.lastPost.author.name }} profile"><img src="{{ topic.lastPost.author.avatar }}" alt="{{ topic.lastPost.author.name }} avatar" class="avatar" /></a>
                    <div class="topic__info">
                        {# TODO: the unread class is hardcoded and needs to be properly implemented #}
                        <h3 class="topic__title topic__title--unread"><a href="{{ url_route("topics.show", {'slug': topic.slug, 'id': topic.id}) }}">{{ topic.title }}</a></h3>
                        <p class="topic__post topic__post--latest">{{ post_date_link(url_route("topics.last", {'slug': topic.slug, 'id': topic.id}), topic.lastPost.created_at) }} {{ trans('general.by') }} {{ render_profile_link(topic.lastPost.author) }}</p>
                        <p class="topic__forum">{{ trans('general.in') }} <a href="{{ url_route("forums.show", {'slug': topic.forum.slug, 'id': topic.forum.id}) }}">{{ topic.forum.title }}</a></p>
                        <p class="topic__replies caption" title="{{ trans_choice('topic.numreplies', topic.replies) }} &middot; {{ trans_choice('topic.numviews', topic.views) }}"><i class="fa fa-comment"></i><span class="count">{{ topic.replies }}</span><span class="text"> {{ trans('topic.replies') }}</span></p>
                    </div>
                </div>
            {% else %}
                <div class="topic">
                    {{ trans('topic.notfound') }}
                </div>
            {% endfor %}
        </div>
    </section>
</div>

<aside class="page-sidebar">
    <section class="block">
        <h3 class="block__heading block__heading--linked"><a href="{{ url_route('forums.all') }}" class="block__heading--linked__link">{{ trans('forum.allforums') }}</a></h3>

        <div class="forum-list forum-list--compact">
        {% for category in forums %}
            <div class="category">
                <h4><a href="{{ url_route("forums.show", {'slug': category.slug, 'id': category.id}) }}">{{ category.title }}</a></h4>
                <ul class="category__forums">
                {% for forum in category.children.toTree %}
                    <li class="category__forum"><a href="{{ url_route("forums.show", {'slug': forum.slug, 'id': forum.id}) }}">{{ forum.title }}</a></li>
                {% else %}
                    {#Do nothing, no subforums for this category#}
                {% endfor %}
                </ul>
            </div>
        {% else %}
            {{ trans('forum.notfound') }}
        {% endfor %}
            </div>
    </section>
    <section class="block">
        <h3 class="block__heading block__heading--linked"><a href="{{ url_route('members.online') }}" class="block__heading--linked__link">{{ trans('member.online') }} <span class="count icon icon--after fa-angle-{{ langDir.right }}">{{ users.count }}</span></a></h3>
        <div class="user-list user-list--compact">
            {% for user in users %}
                <a href="{{ url_route('user.profile', {'slug': user.name, 'id': user.id}) }}" data-user-id="{{ user.id }}" class="profile-link user-list--compact__user"><img src="{{ user.avatar }}" class="avatar" />{{ user.styled_name|raw }}</a>
            {% else %}
                <div class="user-list__error error error-no-results">{{ trans('member.noOnline') }}</div>
            {% endfor %}
        </div>
    </section>
</aside>
{% endblock %}
