{% extends "layouts.base" %}
{% block title %}{% endblock %}
{% block contents %}
<article>
	<header>
		<h1>MyBB Community</h1>
		<p>The official community for MyBB, the best free and open source forum software.</p>
	</header>
	<section>
		<h2 class="linked-header bold"><a href="index.php?page=new-posts">Latest Discussions <span class="count">42 <i class="fa fa-angle-right"></i></span></a></h2>
		<div class="topic-list">
            {% for topic in topics %}
                <div class="topic">
                    <a href="" class="avatar-profile-link" title="Go to {{ topic.lastPost.author.name }} profile"><img src="{{ topic.lastPost.author.avatar }}" alt="{{ topic.lastPost.author }} avatar" class="avatar" /></a>
                    <div class="topic-info">
                        {# TODO: the unread class is hardcoded and needs to be properly implemented #}
                        <h3 class="topic-title unread"><a href="{{ url_route("topics.show", [topic.slug, topic.id]) }}">{{ topic.title }}</a></h3>
                        <p class="latest-post"><a href="{{ url_route("topics.last", [topic.slug, topic.id]) }}" class="post-date" title="March 9, 2014 at 10:10 AM">{{ topic.lastPost.created_at }}</a> {{ trans('general.by') }} <a href="" class="post-author">{{ topic.lastPost.author.name }}</a></p>
                        <p class="forum">{{ trans('general.in') }} <a href="{{ url_route("forums.show", [topic.forum.slug, topic.forum.id]) }}">{{ topic.forum.title }}</a></p>
                        <p class="topic-replies caption" title="{{ trans_choice('topic.numreplies', topic.replies) }} &middot; {{ trans_choice('topic.numviews', topic.views) }}"><i class="fa fa-comment"></i><span class="count">{{ topic.replies }}</span><span class="text"> {{ trans('topic.replies') }}</span></p>
                    </div>
                </div>
            {% else %}
                <div class="topic">
                    {{ trans('topic.notfound') }}
                </div>
            {% endfor %}
		</div>
	</section>
</article>

<aside>
	<section>
		<h3 class="linked-header"><a href="{{ url_route('forums.all') }}">{{ trans('forum.allforums') }}</a></h3>

		<div class="compressed-forum-list">
		{% for category in forums %}
			<div class="category">
				<h4><a href="{{ url_route("forums.show", [category.slug, category.id]) }}">{{ category.title }}</a></h4>
				<ul class="forum-list">
				{% for forum in category.children.toTree %}
					<li><a href="{{ url_route("forums.show", [forum.slug, forum.id]) }}">{{ forum.title }}</a></li>
				{% else %}
					{#Do nothing, no subforums for this category#}
				{% endfor %}
				</ul>
			</div>
		{% else %}
			{{ trans('forum.notfound') }}
		{% endfor %}
			</div>
	</section>
		<section>
			<h3 class="linked-header"><a href="index.php?page=online">Online Now <span class="count">14 <i class="fa fa-angle-right"></i></span></a></h3>
			<div class="compact-users-list online-users">
				<a href="index.php?page=profile"><img src="images/avatar.png" class="avatar" />Clank</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_31011.png?dateline=1373556215" class="avatar" />envira</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_13376.jpg?dateline=1401219544" class="avatar" />Eric J.</a>
				<a href="index.php?page=profile"><img src="http://i.imgur.com/92dvjzh.png?dateline=1362534988" class="avatar" />Jason L.</a>
				<a href="index.php?page=profile"><img src="images/avatar.png" class="avatar" />Jetto</a>
				<a href="index.php?page=profile"><img src="images/avatar.png" class="avatar" />Julz</a>
				<a href="index.php?page=profile"><img src="https://s.gravatar.com/avatar/6341d8857df6d5b3a7b76318c980bbe8?s=100?dateline=1390444813" class="avatar" /><span style="color: #ff7500; font-weight: bold;">Justin</span></a>
				<a href="index.php?page=profile"><img src="images/avatar.png" class="avatar" />MrGinos</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_25096.png?dateline=1395716559" class="avatar" /><span style="color: #ff7500; font-weight: bold;">Omar G.</span></a>
				<a href="index.php?page=profile"><img src="images/avatar.png" class="avatar" />Penn</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_57932.jpg?dateline=1346006198" class="avatar" />psock</a>
				<a href="index.php?page=profile"><img src="https://es.gravatar.com/userimage/36446230/6a242edbd3e0ff86c6b18fde2c31e46b.png?dateline=1358073091" class="avatar" />Solstice</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_78269.jpg?dateline=1400055145" class="avatar" />Wage</a>
				<a href="index.php?page=profile"><img src="http://community.mybb.com/uploads/avatars/avatar_31006.jpg?dateline=1376184165" class="avatar" />Zueq</a>
			</div>
		</section>
	</aside>
{% endblock %}
