{% extends "layouts.base" %}
{% block title %}{% endblock %}
{% block contents %}
<div class="page-content page-content--sidebar">
	<header>
		<h1>{{ setting('general.board_name', 'MyBB Community Forums') }}</h1>
		<p>{{ setting('general.board_desc', '') }}</p>
	</header>
	<section>
		<h2 class="heading heading--linked heading--major"><a href="index.php?page=new-posts">Latest Discussions <span class="count">42 <i class="fa fa-angle-{{ langDir.right }}"></i></span></a></h2>
		<div class="topic-list">
            {% for topic in topics %}
                <div class="topic">
                    <a href="" class="avatar-profile-link" title="Go to {{ topic.lastPost.author.name }} profile"><img src="{{ topic.lastPost.author.avatar }}" alt="{{ topic.lastPost.author }} avatar" class="avatar" /></a>
                    <div class="topic-info">
                        {# TODO: the unread class is hardcoded and needs to be properly implemented #}
                        <h3 class="topic-title unread"><a href="{{ url_route("topics.show", [topic.slug, topic.id]) }}">{{ topic.title }}</a></h3>
                        <p class="latest-post">{{ post_date_link(url_route("topics.last", [topic.slug, topic.id]), topic.lastPost.created_at) }} {{ trans('general.by') }} <a href="" class="post-author">{{ topic.lastPost.author.name }}</a></p>
                        <p class="forum">{{ trans('general.in') }} <a href="{{ url_route("forums.show", [topic.forum.slug, topic.forum.id]) }}">{{ topic.forum.title }}</a></p>
                        <p class="topic-replies caption" title="{{ trans_choice('topic.numreplies', topic.replies) }} &middot; {{ trans_choice('topic.numviews', topic.views) }}"><i class="fa fa-comment"></i><span class="count">{{ topic.replies }}</span><span class="text"> {{ trans('topic.replies') }}</span></p>
                    </div>
                </div>
            {% else %}
                <div class="topic">
                    {{ trans('topic.notfound') }}
                </div>
            {% endfor %}
		</div>
	</section>
</div>

<aside>
	<section>
		<h3 class="heading heading--linked"><a href="{{ url_route('forums.all') }}">{{ trans('forum.allforums') }}</a></h3>

		<div class="compressed-forum-list">
		{% for category in forums %}
			<div class="category">
				<h4><a href="{{ url_route("forums.show", [category.slug, category.id]) }}">{{ category.title }}</a></h4>
				<ul class="forum-list">
				{% for forum in category.children.toTree %}
					<li><a href="{{ url_route("forums.show", [forum.slug, forum.id]) }}">{{ forum.title }}</a></li>
				{% else %}
					{#Do nothing, no subforums for this category#}
				{% endfor %}
				</ul>
			</div>
		{% else %}
			{{ trans('forum.notfound') }}
		{% endfor %}
			</div>
	</section>
		<section>
			<h3 class="heading heading--linked"><a href="{{ url_route('members.online') }}">{{ trans('member.online') }} <span class="count">{{ users.count }} <i class="fa fa-angle-{{ langDir.right }}"></i></span></a></h3>
			<div class="compact-users-list online-users">
				{% for user in users %}
					<a href="index.php?page=profile"><img src="{{ user.avatar }}" class="avatar" />{{ user.styled_name|raw }}</a>
				{% else %}
					{{ trans('member.noOnline') }}
				{% endfor %}
			</div>
		</section>
	</aside>
{% endblock %}
