{% extends "layouts.base" %}
{% block title %}{{ forum.title }}{% endblock %}
{% block head %}
    <meta name="description" content="{{ forum.description }}" />
    <link rel="canonical" href="{{ url_route("forums.show", [forum.slug]) }}" />
{% endblock %}
{% block contents %}
		<article class="full-width">
			<header>
				<h1>{{ forum.title }}</h1>
				<p class="description">
					{{ forum.description }}
				</p>
			</header>
		   <section>
				{% if forum.children.count > 0 %}
					<h2 class="bold">{{ trans('forum.childforums') }}</h2>
					 <div class="forum-list thread-list">
						{% for forum in forum.children.toTree %}
						   <div class="forum">
								<div class="forum-info">
									<h3 class="forum-title"><a href="{{ url_route("forums.show", [forum.slug, forum.id]) }}">{{ forum.title }}</a></h3>
									<p class="description">{{ forum.description }} </p>
									{% if forum.children.count > 0 %}
										{% for subforum in forum.children.toTree %}
											<ul class="subforums">
												<i class="fa fa-level-up"></i>
												<li><a href="{{ url_route("forums.show", [subforum.slug, subforum.id]) }}" class="subforum-title">{{ subforum.title }}</a></li>
											</ul>
										{% endfor %}
									{% endif %}
								</div>
							</div>
						{% else %}
							{{ trans('forum.notfound') }}
						{% endfor %}
					</div>
				{% endif %}
			</section>
		</article>
		<h2>{{ trans('forum.topics') }}</h2>
		<div class="page-controls">
			<a href="#" class="button secondary"><i class="fa fa-circle-o"></i><span class="text">{{ trans('forum.markread') }}</span></a>
			<a href="#" class="button secondary"><i class="fa fa-plus"></i><span class="text">{{ trans('forum.follow') }}</span></a>
			<a href="{{ url_route("topics.create", [forum.id]) }}" class="button"><i class="fa fa-edit"></i><span class="text">{{ trans('forum.posttopic') }}</span></a>
		</div>
		<section class="forum topic-list">
            {{ topics.render|raw }}
			<div class="sort-topics clearfix">
				<a href="{{ url_route("forums.show", {0: forum.slug, 1: forum.id, 'orderBy': 'title', 'orderDir': urlDirs.title}) }}" class="sort-column primary-column-one">
					{{ trans('forum.topictitle') }}
                    {% if orderBy == 'title' %}
                        {% if orderDir == 'desc' %}
                            <i class="fa fa-caret-down"></i>
                        {% else %}
                            <i class="fa fa-caret-up"></i>
                        {% endif %}
                    {% endif %}
				</a>
				<a href="{{ url_route("forums.show", {0: forum.slug, 1: forum.id, 'orderBy': 'startdate', 'orderDir': urlDirs.startdate}) }}" class="sort-column primary-column-two">
					{{ trans('forum.startdate') }}
                    {% if orderBy == 'startdate' %}
                        {% if orderDir == 'desc' %}
                            <i class="fa fa-caret-down"></i>
                        {% else %}
                            <i class="fa fa-caret-up"></i>
                        {% endif %}
                    {% endif %}
                </a>
				<a href="{{ url_route("forums.show", {0: forum.slug, 1: forum.id, 'orderBy': 'replies', 'orderDir': urlDirs.replies}) }}" class="sort-column replies-column">
					{{ trans('forum.replies') }}
                    {% if orderBy == 'replies' %}
                        {% if orderDir == 'desc' %}
                            <i class="fa fa-caret-down"></i>
                        {% else %}
                            <i class="fa fa-caret-up"></i>
                        {% endif %}
                    {% endif %}
                </a>
				<a href="{{ url_route("forums.show", {0: forum.slug, 1: forum.id, 'orderBy': 'lastpost', 'orderDir': urlDirs.lastpost}) }}" class="sort-column latest-column">
					{{ trans('forum.latestpost') }}
                    {% if orderBy == 'lastpost' %}
                        {% if orderDir == 'desc' %}
                            <i class="fa fa-caret-down"></i>
                        {% else %}
                            <i class="fa fa-caret-up"></i>
                        {% endif %}
                    {% endif %}
				</a>
			</div>
			<div class="topics-container">
				{% for topic in topics %}
					<div class="topic{{ topic.trashed ? ' soft-deleted' }}">
						<div class="primary-column">
							<h3 class="topic-title">
								<a href="{{ url_route("topics.show", [topic.slug, topic.id]) }}">{{ topic.title }}</a>
							</h3>
							<h4>First Post</h4>
							<p class="first-post">
								<span class="post-author"><a href="index.php?page=user">{{ topic.author.name }}</a></span>
								<a href="{{ url_route('topics.last', [topic.slug, topic.id]) }}" class="post-date" title="{{ topic.created_at }}">{{ topic.created_at }}</a>
							</p>
						</div>
						<div class="replies-column">
							<h4>{{ trans('topic.replies') }}</h4>
							{# It should be change later #}
							<p class="thread-replies caption" title="{{ trans_choice('topic.numreplies', topic.replies, {'count':topic.replies}) }} &middot; {{ trans_choice('topic.numviews', topic.views, {'count':topic.views}) }}">{{ topic.replies }}</p>
						</div>
						<div class="latest-column">
							<h4>{{ trans('topic.latest') }}</h4>
							<!-- it should be change later -->
							<a href="" class="avatar-profile-link" title="Go to {{ topic.lastPost.author.name }}'s profile"><img src="{{ topic.lastPost.author.avatar }}" alt="{{ topic.lastPost.author.name }}'s avatar" class="avatar" /></a>
							<p class="latest-post">
								<span class="post-author"><a href="">{{ topic.lastPost.author.name }}</a></span>
								<a href="{{ url_route('topics.last', [topic.slug, topic.id]) }}" class="post-date" title="{{ topic.lastPost.created_at }}">{{ topic.lastPost.created_at }}</a>
							</p>
						</div>
                        </div>
				{% else %}
					<div class="topic topic-list__error error error-no-results">{{ trans('topic.notfound') }}</div>
				{% endfor %}
			</div>
            {{ topics.render|raw }}
		</section>
{% endblock %}
