{% extends "layouts.base" %}
{% block title %}{{ trans('conversations.conversations') }}{% endblock %}
{% block contents %}
		<div class="page-content">
			<header>
				<h1>{{ trans('conversations.conversations') }}</h1>
			</header>

			<div class="page-controls">
				{{ conversations.render|raw }}
				<div class="page-buttons">
					<a href="{{ url_route('conversations.compose') }}" class="button"><i class="fa fa-pencil-square-o"></i><span class="text">{{ trans('conversations.compose') }}</span></a>
				</div>
			</div>

			<section class="container conversation-list">

					{% for conversation in conversations %}
						<div class="conversation">
							<div class="conversation__title{{ conversation.isUnread ? ' conversation__title--unread' }}">
								<a href="{{ url_route('conversations.read', {'id': conversation.id}) }}">{{ conversation.title }}</a>
								{% if conversation.isUnread %}
									<span class="conversation__unread">{{ trans('conversations.new') }}</span>
								{% endif %}
							</div>
							<div class="conversation__latest">
								<a href="{{ url_route('user.profile', {'slug': conversation.lastMessage.author.name, 'id': conversation.lastMessage.author.id}) }}" class="avatar-profile-link" title="{{ trans('general.goToXProfile', {'name': conversation.lastMessage.author.name}) }}"><img src="{{ conversation.lastMessage.author.avatar }}" alt="{{ trans('general.XAvatar', {'name': conversation.lastMessage.author.name}) }}" class="avatar" /></a>{{ trans('conversations.latest') }} {{ generate_time(conversation.lastMessage.created_at) }} {{ trans('general.by') }} {{ render_profile_link(conversation.lastMessage.author) }}
							</div>
						</div>
					{% else %}
						<div class="conversation-list__error error error-no-results">
							{{ trans('conversations.no_messages') }}
						</div>
					{% endfor %}
				</div>
			</section>
			{{ conversations.render|raw }}
		</div>
{% endblock %}
