{% extends "layouts.base" %}
{% block title %}{{ conversation.title }} - {{ trans('conversations.add_participants') }}{% endblock %}
{% block contents %}
    <div class="page-content">
        <header class="page-header">
            <h1 class="page-title">{{ trans('conversations.add_participants') }}</h1>
        </header>

        {{ form_open({'route': ['conversations.newParticipant', conversation.id], 'method': 'post'}) }}
        <section class="form">
            <div class="form__section">
                <div class="form__row">
                    <h3 class="form__row__title">{{ form_label('participants', trans('conversations.participants')) }}</h3>
                    <p class="form__row__description">{{ trans('conversations.participants_desc') }}</p>
                    {# TODO: some sort of autocomplete #}
                    {{ form_text('participants') }}
                </div>
            </div>
        </section>
        <div class="form__submit">
            {{ form_button(trans('conversations.add_participants'), {'type': 'submit', 'class': 'button icon fa-plus'}) }}
        </div>
        {{ form_close() }}

    </div>
{% endblock %}
