{% extends "layouts.base" %}
{% block title %}
	{% block inner_title %}{% endblock %}{% if block('inner_title') != '' %} &bull; {% endif %} {{ trans('account.account') }}
{% endblock %}
{% block contents %}
		<nav class="section-menu">
			<ul class="sidebar-navigation">
				<li {% if active == 'dashboard' %}class="active"{% endif %}><a href="{{ url_route('account.index') }}"><i class="fa fa-dashboard fa-fw"></i><span class="text">{{ trans('account.dashboard') }}</span></a></li>
				<li {% if active == 'profile' %}class="active"{% endif %}><a href="{{ url_route('account.profile') }}"><i class="fa fa-user fa-fw"></i><span class="text">{{ trans('account.profile') }}</span></a></li>
				<li {% if active == 'notifications' %}class="active"{% endif %}><a href="{{ url_route('account.notifications') }}"><i class="fa fa-flag fa-fw"></i><span class="text">{{ trans('account.notifications') }}</span></a></li>
				<li {% if active == 'following' %}class="active"{% endif %}><a href="{{ url_route('account.following') }}"><i class="fa fa-plus fa-fw"></i><span class="text">{{ trans('account.following') }}</span></a></li>
				<li {% if active == 'buddies' %}class="active"{% endif %}><a href="{{ url_route('account.buddies') }}"><i class="fa fa-heart fa-fw"></i><span class="text">{{ trans('account.buddies') }}</span></a></li>
				<li {% if active == 'preferences' %}class="active"{% endif %}><a href="{{ url_route('account.preferences') }}"><i class="fa fa-cog fa-fw"></i><span class="text">{{ trans('account.preferences') }}</span></a></li>
				<li {% if active == 'privacy' %}class="active"{% endif %}><a href="{{ url_route('account.privacy') }}"><i class="fa fa-shield fa-fw"></i><span class="text">{{ trans('account.privacy') }}</span></a></li>
				<li {% if active == 'drafts' %}class="active"{% endif %}><a href="{{ url_route('account.drafts') }}"><i class="fa fa-file-text-o fa-fw"></i><span class="text">{{ trans('account.drafts') }}</span></a></li>
			</ul>
		</nav>
		<div class="page-content page-content--menu">
			{% block inner_contents %}{% endblock %}
		</div>
{% endblock %}