{% extends "account.base" %}
{% block inner_title %}
    {{ trans('account.dashboard') }}
{% endblock %}
{% block inner_contents %}
    <header class="page-header">
        <h1 class="page-title">{{ trans('account.dashboard') }}</h1>
    </header>
    <section class="block dashboard__account">
        <a href="{{ url_route('user.profile', {'slug': auth_user.name, 'id': auth_user.id}) }}" class="avatar-profile-link"
           title="{{ trans('account.goToYourProfile') }}"><img src="{{ auth_user.avatar }}" class="avatar" /></a>
        <h3 class="dashboard__account__username">{{ render_profile_link(auth_user) }}</h3>
        <dl class="dashboard__account__statistics stats">
            <dt>{{ trans('topic.posts') }}</dt>
            <dd>{{ auth_user.num_posts }}</dd>
            <dt>{{ trans('account.email') }}</dt>
            <dd>{{ auth_user.email }}</dd>
            <dt>{{ trans('member.joinDate') }}</dt>
            <dd>{{ generate_time(auth_user.created_at) }}</dd>
        </dl>
    </section>
{% endblock %}