{% extends "account.base" %}
{% block inner_title %}
    {{ trans('account.password') }}
{% endblock %}
{% block inner_contents %}
        <header>
            <h1>{{ trans('account.password') }}</h1>
        </header>

    {# TODO: check whether this get's blocked in the modals, if so move it inside the form #}
    {% if has_confirmation %}
        <div class="alert alert-danger">
            {{ trans('account.unconfirmedChange') }}
        </div>
    {% endif %}
    {{ form_open({'url_route': 'account.profile', 'method': 'post'}) }}
    <section class="form">
        <div class="form__section">
            <div class="form__row">
                <h3 class="form__row__title">{{ form_label('password1', trans('account.new_password')) }}</label></h3>
                <p class="form__row__description">{{ trans('account.new_password_desc') }}</p>
                {{ form_password('password1', {'class': 'password-toggle'}) }}
            </div>
            <div class="form__row">
                <h3 class="form__row__title">{{ form_label('password', trans('account.current_password')) }}</h3>
                <p class="form__row__description">{{ trans('account.current_password_password') }}</p>
                {{ form_password('password', {'class': 'password-toggle'}) }}
            </div>
        </div>
    </section>
    <div class="form__submit">
        {{ form_button(trans('account.change_password'), {'type': 'submit', 'class': 'button icon fa-key'}) }}
    </div>
    {{ form_close() }}

{% endblock %}