{% extends "account.base" %}
{% block inner_title %}
    {{ trans('account.privacy') }}
{% endblock %}
{% block inner_contents %}
        <header>
            <h1>{{ trans('account.privacy') }}</h1>
        </header>

    {{ form_open({'url_route': 'account.privacy', 'method': 'post'}) }}
    <section class="form">
        <div class="form__section">
            <h2 class="form__section__title">{{ trans('account.blocked_users') }}</h2>
            <div class="form__section__container">
                <div class="compact-users-list blocked-users">
                    <a href="index.php?page=profile"><img src="{{ asset('images/avatar.png') }}" class="avatar" />Always Annoying</a>
                    <a href="index.php?page=profile"><img src="{{ asset('images/avatar.png') }}" class="avatar" />Angry</a>
                    <a href="index.php?page=profile"><img src="{{ asset('images/avatar.png') }}" class="avatar" />Annoying</a>
                    <a href="index.php?page=profile"><img src="{{ asset('images/avatar.png') }}" class="avatar" />Really Annoying</a>
                    <a href="index.php?page=profile"><img src="{{ asset('images/avatar.png') }}" class="avatar" />Super Needy</a>
                    <a href="index.php?page=profile"><img src="{{ asset('images/avatar.png') }}" class="avatar" />Unavoidably Annoying</a>
                </div>
                <div class="buttons">
                    <a href="index.php?page=account/blocked" class="button button--secondary icon fa-shield">{{ trans('account.manage_blocked') }}</a>
                </div>
            </div>
        </div>
        <div class="form__section">
            <h2 class="form__section__title">{{ trans('general.forum') }}</h2>
            <div class="form__section__container">
                <div class="form__row">
                    <p class="form__checkbox"><label>{{ form_checkbox('showonline', 1, setting('user.showonline', true)) }} {{ trans('account.showonline') }}</label></p>
                    <p class="form__checkbox"><label>{{ form_checkbox('receive_messages', 1, setting('user.receive_messages', true)) }} {{ trans('account.receive_messages') }}</label></p>
                    <p class="form__checkbox"><label>{{ form_checkbox('block_blocked_messages', 1, setting('user.block_blocked_messages', true)) }} {{ trans('account.block_blocked_messages') }}</label></p>
                    <p class="form__checkbox"><label>{{ form_checkbox('hide_blocked_posts', 1, setting('user.hide_blocked_posts', true)) }} {{ trans('account.hide_blocked_posts') }}</label></p>
                    {# another raw value #}
                    <p class="form__checkbox"><label>{{ form_checkbox('only_buddy_messages', 1, setting('user.only_buddy_messages', false)) }} {{ trans('account.only_buddy_messages', {'link': url_route('account.following')})|raw }}</label></p>
                    <p class="form__checkbox"><label>{{ form_checkbox('receive_email', 1, setting('user.receive_email', true)) }} {{ trans('account.receive_email') }}</label></p>
                </div>
            </div>
        </div>
        <div class="form__section">
            <h2 class="form__section__title">{{ trans('account.profile') }}</h2>
            <div class="form__section__container">
                <div class="form__row">
                    <h3 class="form__row__title">{{ trans('account.dob_privacy') }}</h3>
                    <p class="form__row__description">{{ trans('account.dob_privacy_desc') }}</p>
                    <div class="segmented-control">
                        <span class="segmented-control__option">
                            {{ form_radio('dob_privacy', 0, setting('user.dob_privacy', 2) == 0, {'id': 'no_dob'}) }}
                            <label class="segmented-control__option__button" for="no_dob">{{ trans('general.nothing') }}</label>
                        </span>
                        <span class="segmented-control__option">
                            {{ form_radio('dob_privacy', 1, setting('user.dob_privacy', 2) == 1, {'id': 'age_only'}) }}
                            <label class="segmented-control__option__button" for="age_only">{{ trans('general.age') }}</label>
                        </span>
                        <span class="segmented-control__option">
                            {{ form_radio('dob_privacy', 2, setting('user.dob_privacy', 2) == 2, {'id': 'dob_age'}) }}
                            <label class="segmented-control__option__button" for="dob_age">{{ trans('general.dob') }}</label>
                        </span>
                    </div>
                </div>
                <div class="form__row">
                    <h3 class="form__row__title">{{ trans('account.dob_visibility') }}</h3>
                    <div class="segmented-control">
                        <span class="segmented-control__option">
                            {{ form_radio('dob_visibility', 0, setting('user.dob_visibility', 1) == 0, {'id': 'dob_everyone'}) }}
                            <label class="segmented-control__option__button" for="dob_everyone">{{ trans('general.everyone') }}</label>
                        </span>
                        <span class="segmented-control__option">
                            {{ form_radio('dob_visibility', 1, setting('user.dob_visibility', 1) == 1, {'id': 'dob_members'}) }}
                            <label class="segmented-control__option__button" for="dob_members">{{ trans('member.members') }}</label>
                        </span>
                        <span class="segmented-control__option">
                            {{ form_radio('dob_visibility', 2, setting('user.dob_visibility', 1) == 2, {'id': 'dob_following'}) }}
                            <label class="segmented-control__option__button" for="dob_following">{{ trans('account.following') }}</label>
                        </span>
                    </div>
                </div>
                {# everything below refers to profilefields and should be dynamic #}
                <div class="form__row">
                    <h3 class="form__row__title">Show your gender to:</h3>
                    <div class="segmented-control">
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="sex_everyone" checked="checked" />
                            <label class="segmented-control__option__button" for="sex_everyone">Everyone</label>
                        </span>
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="sex_members" />
                            <label class="segmented-control__option__button" for="sex_members">Members</label>
                        </span>
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="sex_following" />
                            <label class="segmented-control__option__button" for="sex_following">Following</label>
                        </span>
                    </div>
                </div>
                <div class="form__row">
                    <h3 class="form__row__title">Show your location to:</h3>
                    <div class="segmented-control">
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="location_everyone" checked="checked" />
                            <label class="segmented-control__option__button" for="location_everyone">Everyone</label>
                        </span>
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="location_members" />
                            <label class="segmented-control__option__button" for="location_members">Members</label>
                        </span>
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="location_following" />
                            <label class="segmented-control__option__button" for="location_following">Following</label>
                        </span>
                    </div>
                </div>
                <div class="form__row">
                    <h3 class="form__row__title">Show your bio to:</h3>
                    <div class="segmented-control">
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="bio_everyone" />
                            <label class="segmented-control__option__button" for="bio_everyone">Everyone</label>
                        </span>
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="bio_members" checked="checked" />
                            <label class="segmented-control__option__button" for="bio_members">Members</label>
                        </span>
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="bio_following" />
                            <label class="segmented-control__option__button" for="bio_following">Following</label>
                        </span>
                    </div>
                </div>
                <div class="form__row">
                    <h3 class="form__row__title">Show your contact details to:</h3>
                    <div class="segmented-control">
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="contact_everyone" />
                            <label class="segmented-control__option__button" for="contact_everyone">Everyone</label>
                        </span>
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="contact_members" />
                            <label class="segmented-control__option__button" for="contact_members">Members</label>
                        </span>
                        <span class="segmented-control__option">
                            <input type="radio" name="" id="contact_following" checked="checked" />
                            <label class="segmented-control__option__button" for="contact_following">Following</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="form__submit">
        {{ form_button(trans('account.update_privacy'), {'type': 'submit', 'class': 'button icon fa-shield'}) }}
    </div>
    {{ form_close() }}

{% endblock %}