<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" dir="{{ trans('general.direction') }}" lang="{{ trans('general.languageCode') }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" dir="{{ trans('general.direction') }}" lang="{{ trans('general.languageCode') }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" dir="{{ trans('general.direction') }}" lang="{{ trans('general.languageCode') }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" dir="{{ trans('general.direction') }}" lang="{{ trans('general.languageCode') }}"> <!--<![endif]-->
<head>
    <title>
        {% block title %}{% endblock %}{% if block('title') != '' %} &bull; {% endif %} MyBB Admin Control Panel
    </title>
    {% include "admin.partials.headerinclude" %}
    {% block head %}{% endblock %}
</head>
<body class="admin-layout">
<div id="spinner">
    <i class="fa fa-spinner fa-pulse"></i> {{ trans('general.loading') }}
</div>
{% include "admin.header" %}
<div class="main" id="main">
    <nav class="admin-menu">
        <ul class="admin-menu__list">
            <li class="admin-menu__section{% if active == 'dashboard' %} admin-menu__section--active{% endif %}">
                <h3 class="admin-menu__section__title"><a href="{{ url_route('admin.dashboard') }}" class="admin-menu__section__title__link">Home</a></h3>
                <ul class="admin-menu__section__list">
                    <li class="admin-menu__section__item{% if active == 'dashboard' %} admin-menu__section__item--active{% endif %}"><a href="{{ url_route('admin.dashboard') }}" class="admin-menu__section__item__link icon icon--fw fa-dashboard">Dashboard</a></li>
                    <li class="admin-menu__section__item"><a href="" class="admin-menu__section__item__link icon icon--fw fa-cog">Settings</a></li>
                    <li class="admin-menu__section__item"><a href="" class="admin-menu__section__item__link icon icon--fw fa-rocket">Extensions</a></li>
                    <li class="admin-menu__section__item"><a href="" class="admin-menu__section__item__link icon icon--fw fa-language">Languages</a></li>
                </ul>
            </li>
            <li class="admin-menu__section">
                <h3 class="admin-menu__section__title"><a href="#" class="admin-menu__section__title__link">Forums &amp; Posts</a></h3>
                <ul class="admin-menu__section__list">
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-sitemap">Forum Management</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-paperclip">Attachments</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-wrench">Moderator Tools</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-filter">Word Filters</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-paragraph">MyCode</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-tags">Topic Prefixes</a></li>
                </ul>
            </li>
            <li class="admin-menu__section{% if active == 'users' %} admin-menu__section--active{% endif %}{% if active == 'profile-fields' %} admin-menu__section--active{% endif %}">
                <h3 class="admin-menu__section__title"><a href="{{ url_route('admin.users') }}" class="admin-menu__section__title__link">{{ trans('admin::nav.users_and_roles') }}</a></h3>
                <ul class="admin-menu__section__list">
                    <li class="admin-menu__section__item{% if active == 'users' %} admin-menu__section__item--active{% endif %}"><a href="{{ url_route('admin.users') }}" class="admin-menu__section__item__link icon icon--fw fa-user">Users</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-users">Roles</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-gavel">Banning</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-arrow-circle-up">Role Promotions</a></li>
                    <li class="admin-menu__section__item{% if active == 'profile-fields' %} admin-menu__section__item--active{% endif %}"><a href="{{ url_route('admin.users.profile_fields') }}" class="admin-menu__section__item__link icon icon--fw fa-tag">Profile Fields</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-star">User Titles</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-warning">Warnings</a></li>
                </ul>
            </li>
            <li class="admin-menu__section">
                <h3 class="admin-menu__section__title"><a href="#" class="admin-menu__section__title__link">Templates &amp; Style</a></h3>
                <ul class="admin-menu__section__list">
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-paint-brush">Themes</a></li>
                    <li class="admin-menu__section__item"><a href="#" class="admin-menu__section__item__link icon icon--fw fa-code">Templates</a></li>
                </ul>
            </li>
            <li class="admin-menu__section">
                <h3 class="admin-menu__section__title"><a href="#" class="admin-menu__section__title__link">Tools &amp; Maintenance</a></h3>
            </li>
        </ul>
    </nav>
    <div class="admin-body">
        {% include "partials.messages" %}
        {% block contents %}{% endblock %}
    </div>
</div>
{% include "admin.footer" %}
{% block js %}{% endblock %}
</body>
</html>
