<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" dir="{{ trans('general.direction') }}" lang="{{ trans('general.languageCode') }}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" dir="{{ trans('general.direction') }}" lang="{{ trans('general.languageCode') }}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" dir="{{ trans('general.direction') }}" lang="{{ trans('general.languageCode') }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" dir="{{ trans('general.direction') }}" lang="{{ trans('general.languageCode') }}"> <!--<![endif]-->
<head>
    <title>
        {% block title %}{% endblock %}{% if block('title') != '' %} &bull; {% endif %} MyBB Admin Control Panel
    </title>
    {% include "admin.partials.headerinclude" %}
    {% block head %}{% endblock %}
</head>
<body>
<div id="spinner">
    <i class="fa fa-spinner fa-pulse"></i> {{ trans('general.loading') }}
</div>
{% include "admin.header" %}
<div class="main" id="main">
    <div class="sidebar-menu">
        <nav id="menu">
            <ul class="sidebar-menu__main">
                <li>                    
                    <h3><a href="{{ url_route('admin.dashboard') }}"><i class="fa fa-home"></i><span class="text">Home</span></a></h3>
                    <ul class="sidebar-menu__sub">
                        <li {{ active_tab('dashboard') }}><a href="{{ url_route('admin.dashboard') }}">Dashboard</a></li>
                        <li><a href="">Settings</a></li>
                        <li><a href="">Extensions</a></li>
                        <li><a href="">Languages</a></li>
                    </ul>
                </li>
                <li>
                    <h3><a href="#"><i class="fa fa-comments"></i><span class="text">Forums &amp; Posts</span></a></h3>
                </li>
                <li>
                    <h3><a href="#"><i class="fa fa-users"></i><span class="text">{{ trans('admin::nav.users_and_roles') }}</span></a></h3>
                    <ul class="sidebar-menu__sub">
                        <li {{ active_tab('profile-fields') }}><a href="{{ url_route('admin.users.profile_fields') }}">Profile Fields</a></li>
                    </ul>
                </li>
                <li>
                    <h3><a href="#"><i class="fa fa-eye"></i><span class="text">Templates &amp; Style</span></a></h3>
                </li>
                <li>
                    <h3><a href="#"><i class="fa fa-gear"></i><span class="text">Tools &amp; Maintenance</span></a></h3>
                </li>
            </ul>
        </nav>
    </div>
    <div class="page-body">
        <div id="admin-content">
            {% include "partials.messages" %}

            {% block contents %}{% endblock %}
        </div>
    </div>
</div>
{% include "admin.footer" %}
{% block js %}{% endblock %}
</body>
</html>
