{% extends "layouts.base" %}
{% block title %}{{ trans('topic.create.title') }}{% endblock %}
{% block head %}
    <meta name="description" content="{{ trans('topic.create.description', [forum.title]) }}" />
    <link rel="canonical" href="{{ url_route("topics.create", [forum.id]) }}" />
{% endblock %}
{% block breadcrumb %}
	{{ Breadcrumbs.render('topics.create', forum) }}
{% endblock %}
{% block contents %}
    <article class="full-width">
        <header>
            <h1>{{ trans('topic.create.title') }}</h1>
            <div class="page-controls">
                <a href="{{ url_route("forums.show", [forum.slug]) }}" class="button secondary"><i class="fa fa-arrow-circle-left"></i><span class="text">{{ trans('general.cancel') }}</span></a>
            </div>
        </header>
        <section class="post">
            {{ form_open({'route': ['topics.create', forum.id], 'method': 'post', 'class': 'form-section clearfix'}) }}
            <div class="form-row">
                <h3>{{ form_label('title', 'Title') }}</h3>
                {{ form_text('title', '', {'placeholder': 'Enter a meaningful title...', 'title': 'Enter a meaningful title...'}) }}
            </div>
            <div class="form-row">
                <h3>{{ form_label('content', 'Content') }}</h3>
                {{ form_textarea('content') }}
            </div>
            {{ form_hidden('forum_id', forum.id) }}
            <div class="form-submit">
                {{ form_button('<i class="fa fa-sign-in"></i><span class="text">Post Topic</span>', {'type': 'submit', 'class': 'button'}) }}
            </div>
            {{ form_close() }}
        </section>
    </article>
{% endblock %}
