{% extends "layouts.base" %}
{% block title %}{{ trans('topic.create.title') }}{% endblock %}
{% block head %}
	<meta name="description" content="{{ trans('topic.create.description', [forum.title]) }}" />
	<link rel="canonical" href="{{ url_route("topics.create", [forum.id]) }}" />
{% endblock %}
{% block contents %}
	<div class="page-content">
		<header>
			<h1>{{ trans('topic.create.title') }}</h1>
			<div class="page-buttons">
				<a href="{{ url_route("forums.show", [forum.slug, forum.id]) }}" class="button button--secondary"><i class="fa fa-arrow-circle-{{ langDir.left }}"></i><span class="text">{{ trans('general.cancel') }}</span></a>
			</div>
		</header>

		{{ form_open({'route': ['topics.create', forum.id], 'method': 'post'}) }}
		<section class="form">
			<div class="form__section">
				{% if auth_check() == false %}
					<div class="form__row">
						<h3>{{ form_label('username', 'Username') }}</h3>
						{{ form_text('username', trans('general.guest')) }}
					</div>
				{% endif %}
				<div class="form__row">
					<h3>{{ form_label('title', 'Title') }}</h3>
					{{ form_text('title', '', {'placeholder': 'Enter a meaningful title...', 'title': 'Enter a meaningful title...'}) }}
				</div>
				<div class="form__row">
					<h3>{{ form_label('content', 'Content') }}</h3>
					{{ form_textarea('content') }}
				</div>
				{% if auth_check() == false %}
					<div class="form__row">
						{{ captcha() }}
					</div>
				{% endif %}
			</div>
		</section>
		{{ form_hidden('forum_id', forum.id) }}
		<div class="form__submit">
			{{ form_button('<i class="fa fa-edit"></i><span class="text">Post Topic</span>', {'type': 'submit', 'class': 'button'}) }}
		</div>
		{{ form_close() }}
	</div>
{% endblock %}
