{% extends "layouts.base" %}
{% block title %}{{ topic.title }}{% endblock %}
{% block head %}
    <link rel="canonical" href="{{ url_route("topics.edit", {'id': topic.id, 'slug': topic.slug, 'postId': post.id}) }}" />
{% endblock %}
{% block contents %}
	<div class="page-content">
		<header>
			<h1>{{ trans('topic.editpost') }}</h1>
			<div class="page-buttons">
				<a href="{{ url_route("topics.show", {'id': topic.id, 'slug': topic.slug}) }}" class="button button--secondary icon fa fa-arrow-circle-{{ langDir.left }}">{{ trans('general.cancel') }}</a>
			</div>
		</header>
		{{ form_open({'route': ['topics.edit', topic.id, topic.slug, post.id], 'method': 'post'}) }}
		<section class="form">
			<div class="form__section">
				{% if topic.first_post_id == post.id %}
					<div class="form__row">
						<h3>{{ form_label('title', trans('topic.create.title')) }}</h3>
						{{ form_text('title', topic.title, {'placeholder': trans('topic.create.enterTitle'), 'title': trans('topic.create.enterTitle')}) }}
					</div>
				{% endif %}
				<div class="form__row">
					<h3>{{ form_label('content', trans('topic.create.content')) }}</h3>
					{{ form_textarea('content', post.content, {'id': 'message'}) }}
					{% include 'topic.quotebar' %}
				</div>
			</div>
		</section>
		<div class="form__submit">
			{{ form_button(trans('topic.editpost'), {'type': 'submit', 'class': 'button icon fa-edit'}) }}
		</div>
		{{ form_close() }}
	</div>
{% endblock %}
