{% if poll %}
	<section class="poll">
		<div class="poll__title">{{ poll.question }}</div>
		{{ form_open({'route': ['polls.vote', topic.slug, topic.id, poll.id ], 'method': 'post'}) }}
		<div class="poll__options">
			{%  for option in poll.options %}
				<div class="poll__option">
					<div class="poll__option__name">
						<label>
							{% if poll.is_multiple %}
								{{ form_checkbox('option[]', loop.index) }}
							{% else %}
								{{ form_radio('option', loop.index) }}
							{% endif %}
							{{ option.option }}
						</label>
					</div>
					<div class="poll__option__votes">
						<div class="poll__option__votes-bar" style="width: {{ (poll.num_votes == 0)?0:(option.votes/poll.num_votes)*100 }}%"></div>
						<div class="poll__option__votes-title">
							{{ option.votes }} / {{ poll.num_votes }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<div class="poll__vote">
			{{ form_button('<i class="fa fa-arrow-right"></i><span class="text">Vote !</span>', {'type': 'submit', 'class': 'button'}) }}
		</div>
		{{ form_close() }}
	</section>

	<style>
		/* @Justin */
		.poll {
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		.poll__title {
			background: #007fd0;
			margin: 0;
			border-radius: 3px 3px 0 0;
			padding: 6px 8px;
			color: #fff;
		}

		.poll__options {
			padding: 8px;
		}
		.poll__option {
			border-bottom: 1px solid #e0e0e0;
		}
		.poll__option:last-child {
			border-bottom: none;
		}

		.poll__option__name {
			width: 300px;
		}

		.poll__option__votes {
			float: right;
			margin-left: 300px;
			width: auto;
			border: 1px solid #eee;
			height: 20px;
		}


	</style>
{% endif %}