			<div class="post reply" id="post-reply">
				{{ form_open({'route': ['topics.reply', topic.slug], 'method': 'post', 'class': 'form-section clearfix'}) }}
					<div class="post-meta">
						<a href="index.php?page=profile" class="avatar-profile-link"><img src="{{ asset('images/avatar.png') }}" alt="Your avatar" class="avatar" /></a>
						<h3><a href="index.php?page=profile">{{ auth_user().name }}</a></h3>
						<span class="post-date">Now</span>
						<!-- <span class="team-badge"><i class="fa fa-cogs" style="color: #e34976;"></i><span class="text">MyBB Staff</span></span>-->
						<a href="{{ url_route("topics.reply", [topic.slug]) }}" class="full-reply" title="Open Full Editor"><i class="fa fa-external-link"></i><span class="text">Full Editor</a>
					</div>
					<div class="post-body">
						{{ form_textarea('content', '', {'class':'textarea', 'rows': '10'}) }}
					</div>
					<div class="post-foot">
						{{ form_button('<i class="fa fa-sign-in"></i><span class="text">Post Reply</span>', {'type': 'submit', 'class': 'button'}) }}
						<!-- <button type="submit" class="button secondary">
							<i class="fa fa-paperclip"></i><span class="text">Attach Files</span>
						</button>-->
					</div>
				{{ form_close() }}
			</div>