			<div class="post post--reply" id="post-reply">
				{{ form_open({'route': ['topics.reply', topic.slug, topic.id], 'method': 'post', 'id': 'quickreply'}) }}
					<div class="post__meta">
						<a href="index.php?page=profile" class="avatar-profile-link"><img src="{{ auth_user.avatar }}" alt="Your avatar" class="avatar" /></a>

						{% if auth_check() %}
							<h3><a href="index.php?page=profile">{{ auth_user.styled_name|raw }}</a></h3>
						{% else %}
							{{ form_text('username', trans('general.guest'), {'class': 'short'}) }}
						{% endif %}
						<span class="post__date">{{ trans('general.now') }}</span>
						<!-- <span class="team-badge"><i class="fa fa-cogs" style="color: #e34976;"></i><span class="text">MyBB Staff</span></span>-->
						<a href="{{ url_route("topics.reply", [topic.slug, topic.id]) }}" class="full-reply" title="Open Full Editor"
								onclick="openFullEditor(); return false;">
							<i class="fa fa-external-link"></i>
							<span class="text">{{ trans('topic.fullEditor') }}</span>
						</a>
					</div>
					<div class="post__body">
						{{ form_textarea('content', '', {'class':'textarea', 'rows': '10'}) }}
					</div>
					{% if auth_check() == false %}
						<div>
							{{ captcha() }}
						</div>
					{% endif %}
					<div class="post__foot">
						{{ form_button('<i class="fa fa-comment"></i><span class="text">'~trans('topic.postreply')~'</span>', {'type': 'submit', 'class': 'button'}) }}
						<!-- <button type="submit" class="button button--secondary">
							<i class="fa fa-paperclip"></i><span class="text">Attach Files</span>
						</button>-->
					</div>
				{{ form_close() }}
			</div>

			<script type="text/javascript">
				function openFullEditor() {
					var form = $('#quickreply');
					form.find("input[name=_token]").val('');
					form.attr('method', 'get').submit();
				}
			</script>
