<div class="quote-bar" style="display:none" data-textarea="#message">
	{{ trans('topic.multiQuote.desc') }}
	<a href="#" class="quote-bar__select">{{ trans('topic.multiQuote.select') }}</a>{{ trans('general.comma') }}
	<a href="#" class="quote-bar__deselect">{{ trans('topic.multiQuote.deselect') }}</a>
	{{ trans('general.or') }}
	<a href="#" class="quote-bar__view">{{ trans('topic.multiQuote.viewAll') }}</a>.
</div>