{% extends "layouts.base" %}
{% block title %}{{ topic.title }}{% endblock %}
{% block head %}
    <meta name="description" content="{{ str_limit(topic.firstPost.content, 255) }}" />
    <link rel="canonical" href="{{ url_route("topics.reply", [topic.slug, topic.id]) }}" />
{% endblock %}
{% block contents %}
	<div class="page-content">
		<header>
			<h1>{{ trans('topic.postreplytotopic', {'title':topic.title}) }}</h1>
			<div class="page-buttons">
				<a href="{{ url_route("topics.show", [topic.slug, topic.id]) }}" class="button button--secondary"><i class="fa fa-arrow-circle-{{ langDir.left }}"></i><span class="text">{{ trans('general.cancel') }}</span></a>
			</div>
		</header>
		{{ form_open({'route': ['topics.reply', topic.slug, topic.id], 'method': 'post'}) }}
		<section class="form">
			<div class="form__section">
				<div class="form__row">
					<h3>{{ form_label('content', trans('topic.reply')) }}</h3>
					{{ form_textarea('content', message) }}
				</div>
			</div>
		</section>
		<div class="form__submit">
			{{ form_button('<i class="fa fa-comment"></i><span class="text">'~trans('topic.postreply')~'</span>', {'type': 'submit', 'class': 'button'}) }}
		</div>
		{{ form_close() }}
	</div>
{% endblock %}
