{% extends "layouts.base" %}
{% block title %}{{ topic.title }}{% endblock %}
{% block head %}
    <meta name="description" content="{{ str_limit(topic.firstPost.content, 255) }}" />
    <link rel="canonical" href="{{ url_route("topics.reply", [topic.slug, topic.id]) }}" />
{% endblock %}
{% block contents %}
	<div class="page-content">
		<header>
			<h1>{{ trans('topic.postreplytotopic', {'title':topic.title}) }}</h1>
			<div class="page-buttons">
				<a href="{{ url_route("topics.show", [topic.slug, topic.id]) }}" class="button button--secondary"><i class="fa fa-arrow-circle-{{ langDir.left }}"></i><span class="text">{{ trans('general.cancel') }}</span></a>
			</div>
		</header>

		{% include 'topic.preview' with {'preview': preview} %}
		{{ form_open({'route': ['topics.reply', topic.slug, topic.id], 'method': 'post', 'id': 'topicreply'}) }}
		<section class="form">
			<div class="form__section">
				{% if auth_check() == false %}
					<div class="form__row">
						<h3>{{ form_label('username', trans('general.username')) }}</h3>
						{{ form_text('username', username) }}
					</div>
				{% endif %}
				<div class="form__row">
					<h3>{{ form_label('content', trans('topic.reply')) }}</h3>
					{{ form_textarea('content', content, {'id':'message'}) }}
					{% include 'topic.quotebar' %}
				</div>
				{% if auth_check() == false %}
					<div class="form__row">
						{{ captcha() }}
					</div>
				{% endif %}
			</div>
		</section>
		<div class="form__submit">
			{{ form_button('<i class="fa fa-comment"></i><span class="text">'~trans('topic.postreply')~'</span>', {'type': 'submit', 'class': 'button'}) }}
			<a href="{{ url_route('topics.reply', [topic.slug, topic.id]) }}" class="button button--secondary"
			   onclick="return submitFormAsGet('topicreply');">
				<i class="fa fa-edit"></i>
				<span class="text">{{ trans('general.preview') }}</span>
			</a>
		</div>
		{{ form_close() }}
	</div>

{% endblock %}
