{% extends "layouts.base" %}
{% block title %}
	{{ topic.title }}
{% endblock %}
{% block head %}
    <meta name="description" content="{{ str_limit(topic.firstPost.content, 255) }}" />
    <link rel="canonical" href="{{ url_route("topics.show", [topic.slug]) }}" />
{% endblock %}
{% block contents %}
	<article class="full-width">
		<header>
			<h1>{{topic.title }}</h1>
			<div class="page-controls">
				<a href="#" class="button secondary"><i class="fa fa-plus"></i><span class="text">Follow</span></a>
				<a href="#post-reply" class="button"><i class="fa fa-comment"></i><span class="text">Post Reply</span></a>
			</div>
		</header>
        <section class="topic">
            {{ posts.render|raw }}
			{% for post in posts %}
				<div class="post{{ post.trashed ? ' soft-deleted' }}" id="post-{{ post.id }}">
					<div class="post-meta">
						<a href="index.php?page=profile" class="avatar-profile-link" title="Go to {{ post.author.name }}'s profile"><img src="{{ asset('images/avatar.png') }}" class="avatar" alt="{{ post.author.name }}'s avatar" /></a>
						<h3><a href="index.php?page=profile">{{ post.author.role.role_username_style|replace({':user': post.author.name})|raw }}</a></h3>
						<a href="#permalink" class="post-date" title="{{ post.created_at }}">{{ post.created_at }}</a>
						{% if post.trashed %}
							<span class="status-notice"><i class="fa fa-trash-o"></i> Soft Deleted</span>
						{% endif %}
						{% if post.updated_at != post.created_at %}
							<a href="index.php?page=edit-log" class="edit-log" title="Last edited {{ post.updated_at }}"><i class="fa fa-pencil"></i></a>
						{% endif %}
						<!--<span class="team-badge"><i class="fa fa-group" style="color: #095c66;"></i><span class="text">MyBB Staff</span></span>-->
						<input type="checkbox" class="inline-mod" />
					</div>
					<div class="post-body">
						<p>
							{{  post.content_parsed|raw }} {# HTML is filtered by the parser, so show raw HTML. Only do this if you're 100% sure of your variables! #}
						</p>
					</div>
					<div class="post-foot">
						<ul class="post-controls">
								<li class="edit"><a href="{{ url_route("topics.edit", [topic.slug, post.id]) }}" title="{{ trans('topic.edit') }}"><i class="fa fa-edit"></i><span class="text">{{ trans('topic.edit') }}</span></a></li>
							{% if post.trashed %}
								<li class="restore"><a href="{{ url_route("topics.restore", [topic.slug, post.id]) }}" title="Restore"><i class="fa fa-circle"></i><span class="text">Restore</span></a></li>
								<li class="delete"><a href="{{ url_route("topics.delete", [topic.slug, post.id]) }}" title="{{ trans('topic.delete') }}"><i class="fa fa-trash-o"></i><span class="text">{{ trans('topic.delete') }}</span></a></li>
							{% else %}
								<li class="delete"><a href="{{ url_route("topics.delete", [topic.slug, post.id]) }}" title="{{ trans('topic.delete') }}"><i class="fa fa-trash-o"></i><span class="text">{{ trans('topic.delete') }}</span></a></li>
								<li class="like"><a href="#like"><i class="fa fa-thumbs-o-up"></i><span class="text">Like</span></a></li>
								<li class="quote"><a href="index.php?page=quote-post"><i class="fa fa-quote-left"></i><span class="text">Quote</span></a></li>
							{% endif %}
							<li class="report"><a href="index.php?page=report-post" onclick="modal('report-post'); return false;" title="Report"><i class="fa fa-flag"></i><span class="text">Report post</span></a></li>
							<li class="warn"><a href="index.php?page=warn-user" title="Warn user"><i class="fa fa-warning"></i><span class="text">Warn user</span></a></li>
						</ul>
						<!--<div class="likes">
							<i class="fa fa-caret-right"></i> <a href="index.php?page=profile">You</a>, <a href="index.php?page=profile">brad-t</a>, <a href="index.php?page=profile">Dennis Tsang</a>, and <a href="index.php?page=post-likes">14 others</a> like this</a>
						</div>-->
					</div>
				</div>
            {% endfor %}
            {{ posts.render|raw }}
			{% include 'topic.quickreply' with {'topic': topic} %}
        </section>
	</article>
{% endblock %}
