{% extends "layouts.base" %}
{% block title %}
	{{ topic.title }}
{% endblock %}
{% block head %}
	<meta name="description" content="{{ str_limit(topic.firstPost.content, 255) }}" />
	<link rel="canonical" href="{{ url_route("topics.show", [topic.slug]) }}" />
{% endblock %}
{% block contents %}
	<div class="page-content">
		<header>
			<h1>{{topic.title }}</h1>
		</header>
		<div class="page-controls">
			{{ posts.render|raw }}
			<div class="page-buttons">
				<a href="#" class="button button--secondary"><i class="fa fa-plus"></i><span class="text">Follow</span></a>
				<a href="#post-reply" class="button"><i class="fa fa-comment"></i><span class="text">Post Reply</span></a>
			</div>
		</div>
		<section class="topic">
			{% for post in posts %}
				<div class="post{{ (post.trashed or (topic.trashed and loop.first)) ? ' soft-deleted' }}" id="post-{{ post.id }}">
					<div class="post__meta">
						<a href="index.php?page=profile" class="avatar-profile-link" title="Go to {{ post.author.name }}'s profile"><img src="{{ post.author.avatar }}" class="avatar" alt="{{ post.author.name }}'s avatar" /></a>
						<h3 class="post__author"><a href="index.php?page=profile">{{ post.author.styled_name|raw }}</a></h3>
						{{ post_date_link(url_route('topics.showPost', [topic.slug, topic.id, post.id]), post.created_at) }}
						{% if post.trashed or (topic.trashed and loop.first) %}
							<span class="post__status"><i class="fa fa-trash-o"></i> {{ trans('topic.softDeleted') }}</span>
						{% endif %}
						{% if post.updated_at != post.created_at %}
							<a href="index.php?page=edit-log" class="post__edit-log" title="Last edited {{ human_date(post.updated_at) }}"><i class="fa fa-pencil"></i></a>
						{% endif %}
						<!--<span class="team-badge"><i class="fa fa-group" style="color: #095c66;"></i><span class="text">MyBB Staff</span></span>-->
						<input type="checkbox" class="post__inline-mod" />
						<a href="#"><i class="fa fa-minus postToggle"></i></a>
					</div>
					<div class="post__body">
						<p>
							{{  post.content_parsed|raw }} {# HTML is filtered by the parser, so show raw HTML. Only do this if you're 100% sure of your variables! #}
						</p>
					</div>
					<div class="post__foot">
						<ul class="post__controls">
								<li class="edit"><a href="{{ url_route("topics.edit", [topic.slug, topic.id, post.id]) }}" title="{{ trans('topic.edit') }}" data-dropdown="#dropdown-{{ post.id }}"><i class="fa fa-edit"></i><span class="text">{{ trans('topic.edit') }}</span></a></li>
							{% if post.trashed or (topic.trashed and loop.first) %}
								<li class="restore"><a href="{{ url_route("topics.restore", [topic.slug, topic.id, post.id]) }}" title="{{ trans('topic.restore') }}"><i class="fa fa-circle"></i><span class="text">{{ trans('topic.restore') }}</span></a></li>
								<li class="delete"><a href="{{ url_route("topics.delete", [topic.slug, topic.id, post.id]) }}" title="{{ trans('topic.delete') }}"><i class="fa fa-trash-o"></i><span class="text">{{ trans('topic.delete') }}</span></a></li>
							{% else %}
								<li class="delete"><a href="{{ url_route("topics.delete", [topic.slug, topic.id, post.id]) }}" title="{{ trans('topic.delete') }}"><i class="fa fa-trash-o"></i><span class="text">{{ trans('topic.delete') }}</span></a></li>
								<li class="like"><a href="#like"><i class="fa fa-thumbs-o-up"></i><span class="text">Like</span></a></li>
								<li class="quote"><a href="{{ url_route('topics.quote', [topic.slug, topic.id, post.id]) }}"><i class="fa fa-quote-{{ langDir.left }}"></i><span class="text">Quote</span></a></li>
							{% endif %}
							<li class="report"><a href="index.php?page=report-post" onclick="modal('report-post'); return false;" title="Report"><i class="fa fa-flag"></i><span class="text">Report post</span></a></li>
							<li class="warn"><a href="index.php?page=warn-user" title="Warn user"><i class="fa fa-warning"></i><span class="text">Warn user</span></a></li>
						</ul>
						<!--<div class="post__likes">
							<i class="fa fa-caret-right"></i> <a href="index.php?page=profile">You</a>, <a href="index.php?page=profile">brad-t</a>, <a href="index.php?page=profile">Dennis Tsang</a>, and <a href="index.php?page=post-likes">14 others</a> like this</a>
						</div>-->
					</div>
				</div>
				<div id="dropdown-{{ post.id }}" class="dropdown dropdown-tip">
				    <ul class="dropdown-menu">
				        <li><a href="#notimplemented">Quick Edit</a></li>
				        <li><a href="{{ url_route("topics.edit", [topic.slug, topic.id, post.id]) }}">Full Edit</a></li>
				    </ul>
				</div>
			{% endfor %}
			{{ posts.render|raw }}
			{% include 'topic.quickreply' with {'topic': topic} %}
		</section>
	</div>
{% endblock %}
