{% extends "layouts.base" %}
{% block title %}
	{{ trans('poll.addPoll') }}
{% endblock %}
{% block head %}
	<meta name="description" content="{{ str_limit(topic.firstPost.content, 255) }}"/>
	<link rel="canonical" href="{{ url_route("polls.create", [topic.slug, topic.id]) }}"/>
{% endblock %}
{% block contents %}
	<div class="page-content">
		<header>
			<h1>{{ trans('poll.addPollToX', {'name': topic.title}) }}</h1>

			<div class="page-buttons">
				<a href="{{ url_route("topics.show", [topic.slug, topic.id]) }}" class="button button--secondary"><i
							class="fa fa-arrow-circle-{{ langDir.left }}"></i><span
							class="text">{{ trans('general.cancel') }}</span></a>
			</div>
		</header>
		{{ form_open({'route': ['polls.postCreate', topic.slug, topic.id ], 'method': 'post'}) }}
		{% if errors.any %}
			<div class="alert alert-danger">
				<strong>Whoops!</strong> There were some problems with your input.<br><br>
				<ul>
					{% for error in errors.all %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		<section class="form" id="add-poll">
			<div class="form__section">
				<h2>{{ trans('poll.options') }}</h2>

				<div class="form__section__container">
					<div class="form__row">
						<h3>{{ form_label('question', trans('poll.question')) }}</h3>
						{{ form_text('question') }}
					</div>
					<div class="form__row">
						<h3>{{ form_label('endAt', trans('poll.endAt')) }}</h3>
						{{ form_text('endAt', '', {id: 'poll-end-at'}) }}
					</div>
					<div class="form__row">
						<h3>{{ trans('poll.whoVoted') }}</h3>

						<p class="form__checkbox">
							<label>{{ form_checkbox('is_public', '1') }} {{ trans('poll.whoVoted.desc') }}</label></p>
					</div>
					<div class="form__row">
						<h3>{{ trans('poll.multipleChoice') }}</h3>

						<p class="form__checkbox">
							<label>{{ form_checkbox('is_multiple', '1', false, {'id': 'poll-is-multiple'}) }} {{ trans('poll.multipleChoice.desc') }}</label>
						</p>
					</div>
					<div class="form__row" id="poll-maximum-options">
						<h3>{{ trans('poll.maxOptions') }}</h3>
						{{ form_text('maxoptions') }}
					</div>
				</div>
			</div>
			<div class="form__section">
				<h2>{{ trans('poll.pollOptions') }}</h2>

				<div class="form__section__container">
					{% for i in range(1, max(2, input_old('option')|length)) %}
						<div class="form__row poll-option">
							<a href="#remove-option" class="remove-option" title="{{ trans('poll.removeOption') }}"><i
										class="fa fa-times"></i></a>
							{{ form_text('option['~loop.index~']') }}
						</div>
					{% endfor %}
					<a href="#newoption" class="button button--secondary" id="new-option"><i
								class="fa fa-plus"></i><span class="text">{{ trans('poll.newOption') }}</span></a>

					<div class="form__row hidden" id="option-simple">
						<a href="#remove-option" class="remove-option" title="{{ trans('poll.removeOption') }}"><i
									class="fa fa-times"></i></a>
						{{ form_text('option[-1]') }}
					</div>
				</div>
			</div>
		</section>
		<div class="form__submit">
			{{ form_button('<i class="fa fa-plus-circle"></i><span class="text">'~trans('poll.postPoll')~'</span>', {'type': 'submit', 'class': 'button'}) }}
		</div>
		{{ form_close() }}
	</div>
{% endblock %}