        <header>
            <div class="wrapper">
                <h1 class="title"><a href="{{ url_route('forum.index') }}" id="logo"><span>{{ setting('general.board_name', 'MyBB Community Forums') }}</span></a></h1>
            </div>
            <nav class="user-navigation">
                <div class="wrapper">
                    {% if auth_check() %}
                        {% include "header.welcomeblock_member" %}
                    {% else %}
                        {% include "header.welcomeblock_guest" %}
                    {% endif %}
                    {{ form_open({'route':'search','id':'search','class':'search'}) }}
                        <a href="{{ url_route('search') }}" class="search__button icon fa-search"><span class="visually-hidden">Search</span></a>
                        <div class="search__container">
                            <label>
                                <input type="text" name="keyword" placeholder="{{ trans('search.searchforum') }}" value="" class="search__field" />
                                <span class="search__controls">
                                    <button type="submit" class="search__submit icon fa-search">
                                        <span class="visually-hidden">{{ trans('search.search') }}</span>
                                    </button>
                                    <a href="{{ url_route('search') }}" class="search__advanced icon fa-cog" title="{{ trans('search.advancedSearch') }}"><span class="visually-hidden">{{ trans('search.advanced') }}</span></a>
                                </span>
                            </label>
                        </div>
                    {{ form_close() }}
                </div>
            </nav>
        </header>