<ul class="user-bar__links">
    <li class="user-bar__links__item user-bar__active-user dropit-link">
        <a href="{{ url_route('account.index') }}" class="user-bar__links__item__link icon fa-user">
            <span class="user-bar__active-user__username">{{ auth_user().name }}</span>
            <i class="dropit-link__caret dropit-link__caret--down fa fa-caret-down"></i>
            <i class="dropit-link__caret dropit-link__caret--up fa fa-caret-up"></i>
        </a>

        <div class="user-bar__dropdown dropdown">
            <a href="{{ url_route('user.profile', {'slug': auth_user.name, 'id': auth_user.id}) }}" class="avatar-profile-link"
               title="{{ trans('account.goToYourProfile') }}"><img src="{{ auth_user.avatar }}"
                                                                   alt="{{ trans('account.your_avatar') }}"
                                                                   class="avatar my-avatar"/></a>
            <ul class="account-links">
                <li class="account-links__item">
                    <a href="{{ url_route('account.index') }}" class="account-links__item__link icon icon--fw fa-dashboard">{{ trans('account.youraccount') }}</a>
                </li>
                {% if auth_user.hasPermission('canEnterMCP') %}
                    <li>
                        <a href="{{ url_route('moderation.control_panel') }}" class="account-links__item__link icon icon--fw fa-pencil">{{ trans('moderation.title') }}</a>
                    </li>
                {% endif %}
                {% if auth_user.hasPermission('canEnterACP') %}
                    <li>
                        <a href="{{ url_route('admin.dashboard') }}" class="account-links__item__link icon icon--fw fa-cog">{{ trans('admin::general.title') }}</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ url_route('account.following') }}" class="account-links__item__link icon icon--fw fa-plus">{{ trans('account.following') }}</a>
                </li>
                <li>
                    <a href="{{ url_route('conversations.index') }}" class="account-links__item__link icon icon--fw fa-envelope">{{ trans('account.messages') }}</a>
                </li>
                <li>
                    <a href="{{ url('auth/logout') }}" class="account-links__item__link icon icon--fw fa-sign-out">{{ trans('member.logout') }}</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="user-bar__links__item user-bar__notifications dropit-link">
        <a href="{{ url_route('account.notifications') }}" class="user-bar__links__item__link icon fa-bell">
            <span class="visually-hidden">Notifications</span>
            <span class="unread-count">4</span>
            <i class="dropit-link__caret dropit-link__caret--down fa fa-caret-down"></i>
            <i class="dropit-link__caret dropit-link__caret--up fa fa-caret-up"></i>
        </a>

        <div class="user-bar__dropdown dropdown">
            <div class="dropdown__container dropdown__container--notifications">
                <h2 class="dropdown__title">
                    <a href="{{ url_route('account.notifications') }}" class="dropdown__title__link">Notifications</a>
                    <a href="{{ url_route('account.preferences') }}" title="{{ trans('account.notify_preferences') }}"
                       class="dropdown__title__action icon fa-cog"><span class="visually-hidden">{{ trans('account.preferences') }}</span></a>
                </h2>
                <ul class="notifications">
                    <li class="notifications__notification">
                        <a href="index.php?page=thread#post" class="notifications__notification__link">
                            <i class="fa fa-comment fa-fw"></i>
                            <span class="text"><span class="notifications__notification__username">Ryan Loos</span> quoted your post in Layout mock-ups</span>
                            <time datetime="2013-03-22T12:34" title="Mar 22, 2013, 12:34 PM">10 minutes ago</time>
                        </a>
                    </li>
                    <li class="notifications__notification">
                        <a href="index.php?page=thread#post" class="notifications__notification__link">
                            <i class="fa fa-thumbs-up fa-fw"></i>
                            <span class="text"><span class="notifications__notification__username">Tim B.</span> liked your post in Responsive theme</span>
                            <time datetime="2013-03-22T10:42" title="Mar 22, 2013, 10:42 AM">2 hours ago</time>
                        </a>
                    </li>
                    <li class="notifications__notification">
                        <a href="index.php?page=account/groups-join-requests" class="notifications__notification__link">
                            <i class="fa fa-group fa-fw"></i>
                            <span class="text"><span class="notifications__notification__username">MattRogowski</span> requested to join Awesome Group</span>
                            <time datetime="2013-03-22T10:40" title="Mar 22, 2013, 10:40 AM">2 hours ago</time>
                        </a>
                    </li>
                    <li class="notifications__notification">
                        <a href="index.php?page=thread" class="notifications__notification__link">
                            <i class="fa fa-thumb-tack fa-fw"></i>
                            <span class="text"><span class="notifications__notification__username">User A</span> posted a thread requiring moderation</span>
                            <time datetime="2013-03-22T10:40" title="Mar 22, 2013, 9:40 AM">3 hours ago</time>
                        </a>
                    </li>
                    <li class="notifications__view-all dropdown__view-all">
                        <a href="{{ url_route('account.notifications') }}" class="dropdown__view-all__link">View All Recent Notifications</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
    {% if setting('conversations.enabled') and auth_user.hasPermission('canUseConversations') %}
        <li class="user-bar__links__item user-bar__messages dropit-link">
            <a href="{{ url_route('conversations.index') }}" class="user-bar__links__item__link icon fa-envelope">
                <span class="visually-hidden">{{ trans('conversations.conversations') }}</span>
                {% if auth_user.unreadConversations.count > 0 %}
                    <span class="unread-count">{{ auth_user.unreadConversations.count }}</span>
                {% endif %}
                <i class="dropit-link__caret dropit-link__caret--down fa fa-caret-down"></i>
                <i class="dropit-link__caret dropit-link__caret--up fa fa-caret-up"></i>
            </a>

            <div class="user-bar__dropdown dropdown">
                <div class="dropdown__container dropdown_-container--messages">
                    <h2 class="dropdown__title">
                        <a href="{{ url_route('conversations.index') }}" class="dropdown__title__link">{{ trans('conversations.unread') }}</a>
                        <a href="{{ url_route('conversations.compose') }}" title="{{ trans('conversations.compose') }}"
                           class="dropdown__title__action icon fa-pencil-square-o"><span class="visually-hidden">{{ trans('general.new') }}</span></a>
                    </h2>
                    <ul class="messages">
                        {% for conversation in auth_user.unreadConversations|slice(0, 5) %}
                            <li class="messages__conversation">
                                <a href="{{ url_route('user.profile', {'slug': conversation.lastMessage.author.name, 'id': conversation.lastMessage.author.id}) }}"
                                   class="avatar-profile-link"
                                   title="Go to {{ conversation.lastMessage.author.name }}'s profile"><img
                                            src="{{ conversation.lastMessage.author.avatar }}"
                                            alt="{{ conversation.lastMessage.author.name }}'s avatar"
                                            class="avatar"/></a>
                                <a href="{{ url_route('conversations.read', {'id': conversation.id}) }}"
                                   class="messages__conversation__link messages__conversation__title">{{ conversation.title }}</a>
                                {{ trans('general.from') }} <a
                                        href="{{ url_route('user.profile', {'slug': conversation.lastMessage.author.name, 'id': conversation.lastMessage.author.id}) }}"
                                        class="messages__conversation__link messages__conversation__message-author">{{ conversation.lastMessage.author.styled_name|raw }}</a>
                                {{ generate_time(conversation.lastMessage.created_at) }}
                            </li>
                        {% else %}
                            <li class="messages__conversation messages__conversation--none">
                                {{ trans('conversations.no_unread') }}
                            </li>
                        {% endfor %}

                        <li class="messages__view-all dropdown__view-all">
                            <a href="{{ url_route('conversations.index') }}" class="dropdown__view-all__link">{{ trans('conversations.view_all') }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    {% endif %}
    <li class="user-bar__links__item user-bar__new-posts">
        <a href="#" class="user-bar__links__item__link icon fa-bolt" title="New Posts">
            <span class="visually-hidden">New Posts</span>
            <span class="unread-count">42</span>
        </a>
    </li>
</ul>
