<ul class="user-navigation__links">
	<li class="user-navigation__active-user dropit-link">
		<a href="{{ url_route('account.index') }}" class="multi-link base-link">
			<span class="text">{{ auth_user().name }}</span>
			<i class="fa fa-caret-down"></i>
			<i class="fa fa-caret-up"></i>
		</a>

		<div class="user-navigation__dropdown dropdown">
			<a href="index.php?page=profile" class="avatar-profile-link" title="Go to your profile"><img
						src="{{ auth_user.avatar }}" alt="Your avatar" class="avatar"/></a>
			<ul class="account-links">
				<li><a href="{{ url_route('account.index') }}" class="multi-link"><i
								class="fa fa-dashboard fa-fw"></i><span
								class="text">{{ trans('account.youraccount') }}</span></a></li>
				<li><a href="{{ url_route('account.following') }}" class="multi-link"><i
								class="fa fa-plus fa-fw"></i><span class="text">{{ trans('account.following') }}</span></a>
				</li>
				<li><a href="index.php?page=messages/index" class="multi-link"><i class="fa fa-comments fa-fw"></i><span
								class="text">{{ trans('account.messages') }}</span></a></li>
				<li><a href="{{ url('auth/logout') }}"><i class="fa fa-sign-out fa-fw"></i><span
								class="text">{{ trans('member.logout') }}</span></a></li>
			</ul>
		</div>
	</li>
	<li class="user-navigation__notifications dropit-link">
		<a href="index.php?page=account/notifications" class="multi-link">
			<i class="fa fa-globe"></i>
			<span class="text">Notifications</span>
			<span class="unread-count">4</span>
			<i class="fa fa-caret-down"></i>
			<i class="fa fa-caret-up"></i>
		</a>

		<div class="user-navigation__dropdown dropdown">
			<div class="notifications-container">
				<h2>
					<a href="index.php?page=account/notifications">
						<span class="text">Notifications</span>
					</a>
					<a href="index.php?page=account/preferences" title="Notification Preferences" class="option"><i
								class="fa fa-cog"></i><span class="text">Preferences</span></a>
				</h2>
				<ul class="notifications">
					<li class="quote">
						<a href="index.php?page=thread#post">
							<i class="fa fa-comment fa-fw"></i>
							<span class="text"><span class="username">Ryan Loos</span> quoted your post in Layout mock-ups</span>
							<time datetime="2013-03-22T12:34" title="Mar 22, 2013, 12:34 PM">10 minutes ago</time>
						</a>
					</li>
					<li class="like">
						<a href="index.php?page=thread#post">
							<i class="fa fa-thumbs-up fa-fw"></i>
							<span class="text"><span class="username">Tim B.</span> liked your post in Responsive theme</span>
							<time datetime="2013-03-22T10:42" title="Mar 22, 2013, 10:42 AM">2 hours ago</time>
						</a>
					</li>
					<li class="groupJoinRequest">
						<a href="index.php?page=account/groups-join-requests">
							<i class="fa fa-group fa-fw"></i>
							<span class="text"><span class="username">MattRogowski</span> requested to join Awesome Group</span>
							<time datetime="2013-03-22T10:40" title="Mar 22, 2013, 10:40 AM">2 hours ago</time>
						</a>
					</li>
					<li>
						<a href="index.php?page=thread">
							<i class="fa fa-thumb-tack fa-fw"></i>
							<span class="text"><span class="username">User A</span> posted a thread requiring moderation</span>
							<time datetime="2013-03-22T10:40" title="Mar 22, 2013, 9:40 AM">3 hours ago</time>
						</a>
					</li>
					<li class="view-all">
						<a href="index.php?page=account/notifications"><span
									class="text">View All Recent Notifications</span></a>
					</li>
				</ul>
			</div>
		</div>
	</li>
	{% if setting('conversations.enabled') and auth_user.hasPermission('canUseConversations') %}
		<li class="user-navigation__messages dropit-link">
			<a href="index.php?page=messages" class="multi-link">
				<i class="fa fa-comments"></i>
				<span class="text">Messages</span>
				{% if auth_user.unreadConversations.count > 0 %}
					<span class="unread-count">{{ auth_user.unreadConversations.count }}</span>
				{% endif %}
				<i class="fa fa-caret-down"></i>
				<i class="fa fa-caret-up"></i>
			</a>

			<div class="user-navigation__dropdown dropdown">
				<div class="messages-container">
					<h2>
						<a href="{{ url_route('conversations.index') }}">
							<span class="text">Unread Messages</span>
						</a>
						<a href="{{ url_route('conversations.compose') }}" title="Compose New Message" class="option"><i
									class="fa fa-pencil-square-o"></i><span class="text">New</span></a>
					</h2>
					<ul class="messages">
						{% for conversation in auth_user.unreadConversations %}
							{# TODO: conversation.lastMessage.author isn't decorated for some reason #}
							<li>
								<a href="index.php?page=profile" class="avatar-profile-link"
								   title="Go to Ryan Loos's profile"><img
											src="{{ conversation.lastMessage.author.avatar }}" alt="Ryan Loos's avatar"
											class="avatar"/></a>
								<a href="{{ url_route('conversations.read', [conversation.id]) }}"
								   class="conversation-title">{{ conversation.title }}</a>
								from <a href="index.php?page=profile"
										class="message-author">{{ conversation.lastMessage.author.styled_name }}</a>
								{{ generate_time(conversation.lastMessage.created_at) }}
							</li>
						{% endfor %}
						<li class="view-all">
							<a href="{{ url_route('conversations.index') }}"><span class="text">View All Messages</span></a>
						</li>
					</ul>
				</div>
			</div>
		</li>
	{% endif %}
</ul>
